[2014-02-20 18:05] bdaehlie opened #1 "create system for evaluating compression improvements"
As we work on this project we'll need a reliable way to measure the progress of compression improvements. Ideally this can be an automated set of tests using various metrics (SSIM and PSNR variants).

See this repository for something that might be a good starting point:

https://github.com/bdaehlie/web_image_formats

Ultimately we'd like something integrated more directly into this project, thoug

[2014-02-20 23:21] bdaehlie opened #2 "cjpeg help indicates that -optimize is not on by default"
This option should be on by default and the help should reflect that.

[josh@raspberry mozjpeg] ./cjpeg --help
usage: /Users/josh/src/mozilla/mozjpeg/.libs/cjpeg [switches] [inputfile]
Switches (names may be abbreviated):
  -quality N[,...]   Compression quality (0..100; 5-95 is useful range)
  -grayscale     Create monochrome JPEG file
  -rgb           Create RGB JPEG file
  -optimize      Optimi

[2014-02-20 23:32] #2 closed, assigned to fbossen

[2014-02-27 00:30] fbossen opened #3 "Implement trellis quantization"
Trellis quantization is an adaptive quantization technique that select the set of levels in a transform block that minimises a rate-distortion metric. See http://en.wikipedia.org/wiki/Trellis_quantization

An adequate distortion metric should be defined for such optimization. A weighted MSE metric may be considered.

An initial implementation should consider only the baseline entropy coding scheme

[2014-02-27 16:28] bdaehlie opened #4 "implement 'jpgcrush' feature"
Belatedly filing feature request for 'jpgcrush' functionality - finding the progressive config that requires the fewest bits. This is just about done, but any further discussion can happen here.

[2014-02-27 18:47] bdaehlie opened #5 "re-brand from libjpeg-turbo to libmozjpeg"

[2014-03-03 14:09] #5 closed, assigned to bdaehlie

[2014-03-03 14:10] #4 closed, assigned to fbossen

[2014-03-05 23:05] kornelski opened #7 "Use overflow for deringing"
See the result: https://github.com/pornel/jpeg-compressor#deringing

Decoders always clamp decoded pixels to the appropriate range, so the encoder is free to cause overflows to its advantage.

In high-contrast where black and white edges are present (e.g. text, line art) if instead of encoding white RGB 255,255,255 as-is you encode it as, say, RGB 272,272,272 then distortions around this edge will

[2014-03-06 00:20] pornel opened #8 "Use more precise chroma subsampling"
There are few tricky problems in chroma subsampling:
http://www.glennchan.info/articles/technical/chroma/chroma1.htm

e.g. libjpeg averages chroma of black pixels with chroma of neighboring color pixels, which causes darkened or desaturated edges. Even most [naive blending with weighting by saturation](https://github.com/pornel/jpeg-compressor/blob/9eeb009fdb8673224de5be978574cb139e4b8bf6/jpge.cpp

[2014-03-06 03:37] impressivewebs opened #9 "Blog post link in repo"
Always good to put the link to the blog post in the description and/or readme:

https://blog.mozilla.org/research/2014/03/05/introducing-the-mozjpeg-project/

If someone doesn't know about the blog post, they can check it out. Otherwise, a better description in the readme would help.

[2014-03-06 10:53] infinitylx opened #10 "Please add LICENSE file."
Please add LICENSE file so that it will be more clear how can one use this project.

[2014-03-06 14:44] 133794m3r opened #12 "Add the capabilities of imgmin for optimizing images."
Imgmin is a lossy optimize but it does it by making the image appear no worse so it's a really good system. Also just optimizing the huffman trees I doubt will do a whole of extra work.

https://github.com/rflynn/imgmin

That is the link to his project where it goes through attempting to optimize the jpegs. If you've not already, I'd try to look at 7zip's deflate encoder and see if their huffman e

[2014-03-06 21:52] bschoenfeld opened #13 "mozjpeg is an order of magnitude slower than libjpeg-turbo"
Do you have any benchmarks on v1.0 of mozjpeg? I'm working on a project where compression speed is a much bigger concern than compression size. We found that libjpeg-turbo gave us some great speed improvements over libjpeg. We are excited about mozjpeg, but our first run didn't yield promising results. A quick benchmark showed that mozjpeg resulted in roughly a 60% smaller image than libjpeg-turbo

[2014-03-07 00:24] brycefisher opened #14 "Precompiled Binaries?"
I'd love to play with this project, but I'm struggling with the BUILDING.txt instructions on my macbook. Are you currently or do you plan to distribute binaries?

[2014-03-07 00:26] pengvado opened #15 "Speedup progressive scan optimization"
It should be possible to double the speed of progressive scan optimization:
Currently each proposed scan is processed twice, first to collect huffman statistics and then to construct its bitstream. But for the purpose of deciding which scans to keep, we only need to know their sizes, not their contents, and size can be derived from the huffman statistics alone.

[2014-03-07 08:11] bluenlive opened #16 "Can't be compiled in VS Environment"
Thanks for great project. I love it!!

BTW, this source cannot be compiled in VS environment.
(I tested with VS2008/2012 in Win7/x86)
There are 3 points to be fixed.
- CMakeLists.txt / line 488

[code]

should be modified to

[code]
- jcparam.c / line 741 ~

Some parts of jpeg_simple_progression (j_compress_ptr cinfo) are
written in C++ style.

[code]

These 3 lines should be moved and slightly mo

[2014-03-07 10:03] #13 closed, assigned to nobody

[2014-03-07 16:17] #14 closed, assigned to nobody

[2014-03-07 16:42] elfring opened #17 "Complete quoting for parameters of some CMake commands"
Some parameters (like "[${CMAKE_SOURCE_DIR}](https://github.com/mozilla/mozjpeg/blob/0c48e5367b07aaa355c31efbebe9569d5347242c/CMakeLists.txt#L144)" and "[${CMAKE_CURRENT_BINARY_DIR}](https://github.com/mozilla/mozjpeg/blob/febf3466d4ce1f4309e21dd994fed9205831b9b9/simd/CMakeLists.txt#L37)") are passed to CMake commands in your build scripts without enclosing them by quotation marks. I see that thes

[2014-03-07 23:12] neheb opened #19 "-arithmetic is broken"
You guys seem to be using an outdated version of libjpeg-turbo. I reported bugs with the mode a while back. The relevant commits are 1079, 1048, and 1031 from the svn repository.

[2014-03-07 23:21] neheb opened #20 "stdin does not work, stdout produces broken output."

[2014-03-08 01:16] #20 closed, assigned to nobody

[2014-03-08 01:33] #19 closed, assigned to nobody

[2014-03-11 13:39] bdaehlie opened #21 "decide whether or not we care about ABI compat"
In mozjpeg 1.0 we broke ABI compatibility with the new configuration options. At the same time we've talked about trying to make it possible for our library to be a drop-in replacement for other libjpeg libraries. These are in conflict. We should either maintain ABI compatibility or give up on the idea that existing users might be able to, or should, use our library as a drop-in replacement.

I'm

[2014-03-12 02:28] sabernar opened #22 "no libmozjpeg files are compiled"
When I configure/make/make install the code, I only get libjpeg and libturbojpeg files. They are placed in my /opt/libmozjpeg folder, but there are no mozjpeg files. Am I understanding this wrong?

![screenshot 2014-03-11 19 25 38](https://f.cloud.github.com/assets/97241/2393307/efc65320-a98d-11e3-9106-c0959091b108.png)

[2014-03-12 12:53] roytam1 opened #23 "mozjpeg jpegtran segfaults"
same issue happens in both Linux and Win32.

[code]

samples (hope github don't postprocess them):
![1238013229698](https://f.cloud.github.com/assets/1192577/2397092/e52e7a1c-a9e4-11e3-92e5-4043847afcf0.jpg)
![2](https://f.cloud.github.com/assets/1192577/2397093/e5315b42-a9e4-11e3-92ba-75a7220db5c5.jpg)

[2014-03-13 14:48] roytam1 opened #24 "mozjpeg jpegtran fails to optimize files with JCS_RGB colorspace"
jpegtran outputs 20-bytes file.

Sample created from "cjpeg -rgb -dct float -outfile rgb.jpg Lenna.bmp"
![rgb](https://f.cloud.github.com/assets/1192577/2410557/5d901194-aabe-11e3-8287-12dc5a45475a.jpg)

[2014-03-13 15:04] #16 closed, assigned to bdaehlie

[2014-03-13 15:07] #22 closed, assigned to bdaehlie

[2014-03-13 15:19] #10 closed, assigned to bdaehlie

[2014-03-13 15:22] #9 closed, assigned to bdaehlie

[2014-03-13 15:28] bdaehlie opened #25 "jpgcrush feature breaks grayscale JPEG support"
From DRC, author of libjpeg-turbo:

The jpgcrush feature breaks grayscale JPEG support. More specifically, an incorrect JPEG image is generated whenever both the input and JPEG colorspaces are grayscale. Attempting to decompress this incorrect JPEG image produces an error or a segfault. This is most easily reproducible by running tjbench.

[2014-03-19 01:44] kornelski opened #27 "Avoid 0xFF00 markers in Huffman data"
0xFF bytes in Huffman data need special coding that adds another byte of overhead. If this overhead could be reliably minimized, then approximation of size if scan data described #15 would be more effective.

Here's an algorithm off the top of my head:
1. Find which code happens to overlap the 0xFF bytes most frequently
2. Swap the code with another code of the same length (if there isn't a code t

[2014-03-19 01:51] pornel opened #28 "Evaluate DC Tune algorithm"
As far as I can tell the [DC Tune](http://vision.arc.nasa.gov/dctune/) [patent](http://www.google.co.uk/patents/US5629780) has expired in December.

[2014-03-19 22:40] frkay opened #29 "Is compatibility with Adobe Photoshop mandatory?"
When I wrote JSK to show the different JPEG scans I quickly discovered that Adobe Photoshop CS5 (and CS6 at least) was unable to decode some JPEGs like the one included here (if I'm right the problem comes from the non-interleaved first scan, it holds only Y).
So is the compatibility target restricted to web browsers or larger i.e. including well-known software like Photoshop (which unfortunately

[2014-03-19 23:56] #29 closed, assigned to bdaehlie

[2014-03-20 23:17] frkay opened #30 "Merge successive DQT (FFDB) and DHT (FFC4) markers in a single one"
A DQT marker can hold more than a single Quantization Table and a DHT marker can hold more than a single Huffman Table.
Currently mozjpeg only puts one table per marker which is a bit clunky since it introduces a small overhead (extra markers and size fields: 2 bytes each).

For instance compare these two files (dumps produced by JPEGsnoop).

---

What mozjpeg does (2 DQT markers, mushr-current.jp

[2014-03-24 08:28] Klokker opened #31 "Error when optimizing CMYK JPEG"
When I try to optimize the attached CMYK JPEG, the optimizer crashes, and it generates a 0 bytes output file.
![cmyk](https://f.cloud.github.com/assets/3175752/2496975/35eed134-b32e-11e3-81f7-ffc43eb57f20.jpg)

[2014-03-27 13:31] #25 closed, assigned to fbossen

[2014-03-27 15:21] #31 closed, assigned to fbossen

[2014-03-27 15:21] #24 closed, assigned to fbossen

[2014-03-27 15:21] #23 closed, assigned to fbossen

[2014-04-01 16:47] #17 closed, assigned to nobody

[2014-04-04 12:08] wolfviking0 opened #33 "Trouble for build on iOS"
Hi,

I'm trying to build on iOS, but I have some trouble, I am on Maverick 10.9.2 + xcode 5.1, I reinstall an older version of xcode (Xcode 4.5) and call sudo xcode-select -switch /Applications/Xcode45.app/

Following the BUILDING.txt, I try to build for armv7, I just change the IOS_PLATFORMDIR with IOS_PLATFORMDIR="/Applications/Xcode45.app/Contents/Developer/Platforms/iPhoneOS.platform"

When I

[2014-04-07 11:14] ace-dent opened #34 "Remove support for image thumbnails"
For efficient, web-based images - we should never write a thumbnail image.
Strip out support from code for thumbnails.

[2014-04-07 16:01] fwenzel opened #35 "Add simple command-line wrapper"
In another Issue, there was the decision that this project won't have binary releases, which is fine. However, to try and use the library, it'd be useful to at least have a way to build this down into a simple command-line tool that you could use something like:

`mozjpeg < myimage.jpg > newimage.jpg`

This way us interested parties can follow along ;) and someone could even add it to homebrew.

[2014-04-07 16:24] #35 closed, assigned to nobody

[2014-04-08 15:26] ace-dent opened #37 "Define supported decoding software"
We should always produce a 'standard' and 'compliant' bitstream (although at times this may be poorly defined!).
Since some decoders have broken / incomplete implementations- and this may add a burden to support their legacy, we should define a range of 'minimum' decoders that will be supported and actively tested against (most common use cases). These would include certain browsers (i.e. do we su

[2014-04-15 12:58] bluenlive opened #39 "one part of jcphuff.c is written C++ style"
line 500: int sign = temp >> 31;
is written in C++ style.

So, it cannot be compiled with Visual Studio 2012.
If this is not intentional, it should be fixed.

[2014-04-15 13:08] #39 closed, assigned to nobody

[2014-04-15 15:41] ace-dent opened #40 "Right shift bitwise operations"
@fbossen From Issue #38 ... and then #39...
Assumes integers are stored as two's-complement 32-bit values and that the right-shift operator does sign extension. Earlier in the code we deal with Portability RIGHT_SHIFT_IS_UNSIGNED:
https://github.com/mozilla/mozjpeg/blob/master/jcphuff.c#L77
Not sure whether it's worth maintaining portability? Otherwise may be worth removing the extra code...
Only

[2014-04-15 16:17] #40 closed, assigned to nobody

[2014-04-21 09:23] elennaro opened #42 "Jpeg decompression is quite poor"
Jpeg decompression (of compressed with q=100 jpeg in other program) leaves a lot of artifacts.
If you need I can attach examples if you teach me how.
Maybe there is some way to teach decompressor to do it better.

[2014-04-23 20:48] #42 closed, assigned to nobody

[2014-05-05 18:59] bdaehlie opened #45 "make trellis quantization work with transcoder"
Filing this so we don't forget, I don't think it works right now and we need it to.

[2014-05-07 15:09] bdaehlie opened #46 "compile problem with trellis branch on Linux, needs -lm"

[2014-05-08 20:01] bdaehlie opened #47 "add logging to show which progressive modes are chosen"
A request:

It would be interesting to analyze which of the progressive modes are selected. Then, we could preselect some specific progressive mode as a function of image width (for example). Could we add logging to show which of the progressive modes are chosen?

[2014-05-08 20:05] bdaehlie opened #48 "resolve incompatibility with ipp-samples (Intel Performance Primitives) JPEG decoder"
Images generated with mozjpeg's command line tool with mozjpeg defaults (with multiple scans) cannot be decoded by ipp-samples JPEG decoder.

[2014-05-09 03:11] #47 closed, assigned to fbossen

[2014-05-09 03:28] #46 closed, assigned to nobody

[2014-05-09 16:49] #48 closed, assigned to fbossen

[2014-05-10 03:12] #3 closed, assigned to fbossen

[2014-05-10 03:35] roytam1 opened #49 "trellis branch merge breaks jpegtran -optimize"
jpegtran -v -optimize shows:

[code]

[2014-05-10 07:34] roytam1 opened #50 "cjpeg -dct float produces bad quality output after trellis branch merge"
bad quality sample attached.
command-line: cjpeg-static.exe -q 98 -dct float -outfile Lenna.jpg Lenna.bmp

![lenna](https://cloud.githubusercontent.com/assets/1192577/2935520/668c7326-d815-11e3-9a9b-a5c033389cb0.jpg)

[2014-05-10 10:20] ace-dent opened #51 "Single QT for small images"
For very small images (thumbnails), we should evaluate using single quantisation tables to save some bytes and measure against impact on image quality.

[2014-05-10 12:12] kowpa1990 opened #52 "GUI for mozjpeg"
Are you going to create a gui for mozjpeg?
I was thinking about something portable and multi-platform. Maybe simple application, supports the batch conversion, created in the shape of WinFF?
http://winff.org/

[2014-05-10 12:19] #49 closed, assigned to nobody

[2014-05-10 19:00] #50 closed, assigned to nobody

[2014-05-11 04:15] #52 closed, assigned to nobody

[2014-05-12 18:52] elennaro opened #53 "How to generate Javadoc as a standalone Jar for usage with mozjpeg?"
I'm using mozjpeg with java maven project. Under windows with cMake and MinGW it compiles perfectly, but there is no java documentation in the resulting Jar.
Could you please help by explaining how to generate Javadoc?

[2014-05-31 20:25] kowpa1990 opened #54 "Which version jpegrescan was considered in mozjpeg?"
...when moving code into c? [the original code](http://akuvian.org/src/jpgcrush.tar.gz) is [different](http://www.diffchecker.com/kt5fy4xj) from the [modified](https://github.com/kud/jpegrescan/blob/master/jpegrescan). In the new code added only [jfifremove](https://github.com/mozilla/mozjpeg/pull/36) or something I missed?

[2014-06-03 00:29] #45 closed, assigned to fbossen

[2014-06-03 08:47] #54 closed, assigned to fbossen

[2014-06-25 19:38] HockeyInJune opened #56 "Two buffer overflows"
Submitted a bug report to libjpeg-turbo, mozjpeg is downstream from them, so I figured I should notify you.

Original bug report with patch is here:
http://sourceforge.net/p/libjpeg-turbo/bugs/68/

Their diff is here:
http://sourceforge.net/p/libjpeg-turbo/code/1323/tree//trunk/wrjpgcom.c?diff=5072eea21be1ce7be997428d:1322

[2014-06-26 16:28] #37 closed, assigned to nobody

[2014-06-26 16:45] #56 closed, assigned to fbossen

[2014-06-26 19:10] jrmuizel opened #57 "Add DC trellis quantization"
We could save a couple of bits here and there by adding support for trellis quantization of the dc coefficients.

I wrote a toy implementation of this kind of thing a long time ago:
https://pastebin.mozilla.org/5476854

[2014-06-26 22:30] jrmuizel opened #58 "Implement activity masking"
The current trellis quantization implementation does not take block variance into account when estimating error. By weighting by the block variance we should be able to get a decent improvement on SSIM style metrics like Theora did:
http://people.xiph.org/~xiphmont/demo/theora/demo9.html

[2014-06-27 19:33] #58 closed, assigned to nobody

[2014-06-27 22:49] bdaehlie opened #59 "targeting MS-SSIM produces worse MS-SSIM results than targeting PSNR-HVS-M"
Targeting MS-SSIM doesn't work very well. We should tweak that configuration to do better.

[2014-07-01 19:56] aleemb opened #60 "Add -copy exif option"
I would like to strip all markers except caption, author, etc. Would be nice to include a `-copy exif` option.

[2014-07-06 10:36] blun opened #61 "better greyscale sensing"
The problem: On the web you frequently find JPEG files with greyscale content that was coded as a full-colour JPEG - with a set of useless colour channels. Although those end up empty or mostly empty, they nevertheless make up a significant percentage of wasted bits in the file.
(In the case of BMP input, cjpeg doesn't even recognise files with only one [greyscale] channel as greyscale input and e

[2014-07-08 13:33] dwbuiten opened #63 "mozjpeg handles ABI and API vs jpeg62 very poorly"
So I guess this is a few issues, but with the same root cause:
- There is absolutely no way to detect if you are using mozjpeg or vanilla IJG/Turbo pragmatically in code... there are no identifying markers in the headers (e.g. a `#define MOZILLA` or version number difference or something), so the only way to support both vanilla IJG/Turbo and mozjpeg is to have a configure-time check to see if e.g

[2014-07-08 19:34] #59 closed, assigned to fbossen

[2014-07-08 19:36] #63 closed, assigned to nobody

[2014-07-08 20:56] dwbuiten opened #64 "Quality Issue with MS-SSIM Optimization"
Created a new bug as @bdaehlie suggested.

MS-SSIM optimization yields some interesting results:
- [Source](https://chromashift.org/moz/source.tga)
- [TurboJPEG Q80](https://chromashift.org/moz/turbojpeg_q80.jpg) (`cjpeg -targa -quality 80 source.tga > turbojpeg_q80.jpg`)
- [mozjpeg MS-SSIM tuned Q80](https://chromashift.org/moz/mozjpeg_msssim_q80.jpg) (`.../mozjpeg/bin/cjpeg -tune-ms-ssim -targa

[2014-07-09 02:37] #64 closed, assigned to nobody

[2014-07-11 22:07] brunogm0 opened #65 "Evaluate Edge Regeneration"
http://electronicimaging.spiedigitallibrary.org/article.aspx?articleid=1829594

"First, we remove blocking artifacts via boundary smoothing and guided filtering. Then, we reduce blurring and aliasing around the edges via a local edge-regeneration stage. We compared the proposed algorithm with other modern JPEG artifact-removal algorithms. The results demonstrate that the proposed approach is compe

[2014-07-12 20:38] kowpa1990 opened #66 "Introduce high quality up-sizing/enlarging"
...in cjpeg as a option similar to [-scale](http://jpegclub.org/cjpeg/). In comparison to downsampling, [upsampling](http://blog.codinghorror.com/better-image-resizing/) needs more complexity in the calculations to the picture [looked](http://hermidownloads.craqstar.de/videoresizefiltercomparasion/) [good](http://superuser.com/questions/375718/which-resize-algorithm-to-choose-for-videos). Why use

[2014-07-15 15:57] dwbuiten opened #67 "Add note about silent ABI break to relese notes for 2.0"
You did not mention this at all in the release notes. You have broken the ABI **without bumping the SONAME**, and it is incredibly irresponsible to not mention this upfront and center in the release notes.

[2014-07-16 17:19] danielgtaylor opened #68 "Document new features"
It would be nice to have a document describing the new struct parameters that mozjpeg has added, how they work and recommended settings. It would be particularly nice to know what the `use_moz_defaults` option actually does, for example.

Ideally this would be kept up to date for each release.

[2014-07-16 17:22] danielgtaylor opened #69 "How to `use_moz_defaults` without progressive encoding?"
Now that trellis quantization is released, it seems like there will be significant savings in non-progressive files. How do I set up the encoder struct to use the Mozilla defaults minus progressive encoding? More generally, how do I enable just trellis?

[2014-07-16 17:29] njdoyle opened #70 "BUILDING.txt says libraries named libmozjpeg.* will be made, libturbojpeg.* made instead"
Built mozjpeg and expected libmozjpeg.\* libraries to be built like the BUILDING.txt file describes. Instead I get libturbojpeg.\* files. Was hoping to use the libmozjpeg.\* files to help differentiate from my existing libturbojpeg install.

[2014-07-16 18:13] 133794m3r opened #71 "You should think about adding a compare like program"
As the title says, image magick's compare only uses PSNR, mse, ae, rsme and that's it. Since you support ssim(which should be the default as it's based upon how the human eye sees things compared to psnr). Having a simple tool to compare the images automatically would be a nice addition and also having cjpeg to output the ssim value for the image/other trellis that's been used.

So to just review

[2014-07-20 19:03] kowpa1990 opened #74 "hence preserving quality from .jpg input to output in cjpeg"
Already for some time I use the new cjpeg but nowhere hadn't seen such an option.
Normally, you need to choose a quality level or cjpeg chooses the value of 75.

Preserving quality factor from jpg source.
example:
[code]

(This creates a jpg file with unusual quantization tables.)
[code]
cjpeg reads qtables from the file, saves in the cache, and executes something like this:

[code]
DCTune for exa

[2014-07-21 13:57] kornelski opened #76 "Adjust quantization tables for high-resolution displays"
There is a trick used when compressing images for high-DPI ("Retina") displays: because details are less visible in higher resolution (or when resampled on lower-resolution displays), the image can tolerate higher level of compression.

http://filamentgroup.com/lab/compressive-images.html
http://gogrowstrategies.com/compressive-images/

Unfortunately in libjpeg the quantization tables are derived

[2014-07-22 06:35] gunta opened #77 "Add lossless re-compression trough packJPG"
Hi!
I would like to see support for **packJPG** which is one of the best lossless jpeg encoders.
- [packJPG](http://packjpg.encode.ru/?page_id=17)
- [JPEG Recompression algorithms](http://mattmahoney.net/dc/dce.html#Section_616)
- [JPEG Lossless image compression test](http://www.maximumcompression.com/data/jpg.php)

It is supported in some software already like [pcompress](https://github.com/moin

[2014-07-24 19:18] #69 closed, assigned to fbossen

[2014-07-24 20:37] kowpa1990 opened #78 "mozjpeg logo"
[IJG JPEG 9](http://www.infai.org/jpeg/files?get=Logo_Preview_JPEG_9_optional.png) already has a logo, [libjpeg-turbo](http://www.libjpeg-turbo.org/pmwiki/pub/skins/vgl/ljtlogo.gif) also. You just published the version 2, and a project gets more and more popular. That users remember the brand is needed...

[logo](https://www.dropbox.com/s/4hzhkrparwzdeuj/patch_compressed.svg)

Encourage your desig

[2014-07-24 21:41] #77 closed, assigned to nobody

[2014-07-28 21:51] kornelski opened #80 "PNG input"
Are you interested in a patch that makes cjpeg understand PNG?

Would you prefer libpng or lodepng?

[2014-07-30 20:39] jrmuizel opened #81 "Add some kind of spatial noise shaping"
This has the potential to reduce the ringing artifacts by moving error from smooth areas to textured areas. The challenge will be trying to have something that works well but is still computationally practical.

[2014-07-30 20:48] negge opened #82 "Use low-pass edge extension to pad images"
When encoding an image with dimensions that are not a multiple of 16, both mozjpeg and libjpeg-turbo use an edge extension that simply copies the pixels from the right and bottom edge into the padded area.  Because this image data is not displayed we can use any edge extension we want.  Both daala and theora use a low-pass filter to extend the frame and this is shown to have very modest compressio

[2014-07-30 21:06] fbossen opened #83 "Coding of DC scans in progressive mode"
It should be determined whether having separate DC scans (one per component) creates compatibility issues. If not, do so as it is likely more efficient than current approach (one DC scan with interleaved components)

[2014-07-30 21:30] fbossen opened #84 "Optimize quantization tables"
Currently the encoder switches between "JPEG default" and flat quantization tables based on the metric it is tuning for. There ought to be better tables, including tables tuned for each individual image.

[2014-07-31 03:56] #21 closed, assigned to bdaehlie

[2014-07-31 03:58] bdaehlie opened #85 "create plan for maintaining ABI compatibility"
We need to come up with a plan for maintaining ABI compatibility going forward, and at the same time maintaining ABI compatibility with libjpeg-turbo. I have some proposals from DRC, will post soon.

[2014-07-31 16:40] #65 closed, assigned to nobody

[2014-07-31 20:56] #67 closed, assigned to nobody

[2014-07-31 21:05] dwbuiten opened #86 "Include configure in release tarballs"
Having to run `autoreconf -fi` or whatever in order to build isn't so nice, and kind of demeans one of the points of autotools — portable, dependency-less configure.

Should be easy: GitHub allows attaching arbitrary files (e.g. tarballs) to tagged releases.

[2014-07-31 21:43] dwbuiten opened #87 "New mozjpeg code does not check any malloc calls"
The rest of the existing codebase does, and it is good practice to do so. All code added by mozjpeg seems to not check anywhere for allocation failure.

[2014-08-06 19:10] bdaehlie opened #91 "consider providing binary releases"
I was hoping to avoid doing this to keep project overhead low (having to make formal builds on a bunch of platforms every time we release), but based on feedback we probably need to consider making binaries available for popular platforms.

[2014-08-08 13:16] #87 closed, assigned to bdaehlie

[2014-08-11 16:35] davidscotson opened #93 "Select progressive based on input image size?"
I was reading the old blog post below while trying to decide if I should use progressive jpegs for user avatars. Their findings suggest that when losslessly re-compressing JPEGs they saw a small average improvement in filesize when using progressive, but it could also make some of their images larger:

http://www.yuiblog.com/blog/2008/12/05/imageopt-4/

They looked further into the data and sugges

[2014-08-12 00:43] kornelski opened #94 "Merging libjpeg-turbo changes"
Do you have a plan for keeping up to date with libjpeg-turbo improvements?

I've cloned libjpeg-turbo SVN repo here: https://github.com/pornel/libjpeg-turbo (with missing bits of history grafted from tightvnc and libjpeg6b).

I've found commit mozjpeg forked from: https://github.com/pornel/libjpeg-turbo/commit/b7b5324ac767a4c8cf3c8a56f87efc09f138dd93, so I could graft histories of these projects b

[2014-08-12 23:29] alfiedotwtf opened #95 "install.txt does not exist"
From README:

  "Other documentation files in the distribution are:
    ...
    install.txt       How to configure and install the IJG software."

However, install.txt does not exist.

[2014-08-13 14:30] #57 closed, assigned to fbossen

[2014-08-19 12:34] matylla opened #99 "Problem compiling on Ubuntu 12.04"
64-bit build on 64-bit Ubuntu 12.04

[code]

[code]

Anyone?

[2014-08-19 13:47] #99 closed, assigned to nobody

[2014-08-20 13:40] #80 closed, assigned to kornelski

[2014-08-20 15:23] #66 closed, assigned to nobody

[2014-08-26 14:18] #30 closed, assigned to nobody

[2014-09-15 10:53] OddBlueDog opened #104 "Can't build master branch currently"
I can't build the master branch at the moment.

Sorry, I'm pretty new to building things but 2.1 builds fine.

using gcc 3.9.1

CMakeFiles\cjpeg.dir/objects.a(rdswitch.c.obj):rdswitch.c:(.text+0xa44): undefin
ed reference to `jpeg_float_quality_scaling'
CMakeFiles\cjpeg.dir/objects.a(rdswitch.c.obj):rdswitch.c:(.text+0xadb): undefin
ed reference to`jpeg_float_quality_scaling'
C:/PROGRA~1/MINGW-~1/

[2014-09-16 10:45] #104 closed, assigned to nobody

[2014-09-17 15:37] aleemb opened #106 "Get Version via stdout/stderror"
I need to get the currently installed version  of mozjpeg and redirect the output. There seems to be no way to get this via any of the options I could find.

Would it be possible to add this for convenience? And is there a solution in the interim I can use to get the installed version? (My use-case is that I am deploying via ansible but if the desired version is already installed, I can skip the i

[2014-09-25 17:17] kornelski opened #109 "Configure doesn't force compiler to use C89"
If you configure project with c89 flag:

[code]

it still detects that the compiler—with default flags—accepts `inline` keyword. This causes torrent of errors such as:

[code]

Without `CFLAGS='-std=c89'` both GCC and clang default to C99, which makes it too easy to accidentally break C89 compatiblity (e.g. #108)

[2014-10-06 17:45] #7 closed, assigned to nobody

[2014-10-10 00:21] sicking opened #110 "Support "automatic quality level""
At EdgeConf the other week it was pointed out that when people encode JPEG images they often pick a fairly arbitrary quality level. Generally one based on habit than one that makes the given image look good.

It would be good if mozjpeg could automate this and automatically pick a quality level that results in a good tradeoff between quality and size for the given picture. Or at the very least pro

[2014-10-10 04:30] pornel opened #111 "Using trellis quantization without other options is tricky"
Background: I'm trying to compress images at a specific DSSIM quality, and for that I need to try a few different JPEG quality levels, as quickly as possible.

I wanted to enable trellis quantization (because it visibly affects the output), but disable all other slow optimizations, since I don't look at the file size when only measuring quality.

However, using just trellis is tricky and I didn't

[2014-10-16 01:33] neheb opened #112 "./configure issue under cygwin and arch linux"
../configure: line 13260: syntax error near unexpected token `libpng,'
../configure: line 13260:`PKG_CHECK_MODULES(libpng, libpng, HAVE_LIBPNG=1,'

libpng is installed in both situations. removing the offending lines allows configure to complete.

here are the lines:

PKG_CHECK_MODULES(libpng, libpng, HAVE_LIBPNG=1,
  PKG_CHECK_MODULES([libpng], [libpng12], [HAVE_LIBPNG=1], [HAVE_LIBPNG=0])
)
 if

[2014-10-16 01:41] #112 closed, assigned to nobody

[2014-10-16 18:22] nagnug opened #113 "Trellis documentation lacking"
There needs to be explanation of the trellis feature, how it works, what else in the encoding process it interacts with.
My interest is in quantization tables, so I want to know how the final matrix values are calculated with trellis enabled.

[2014-10-19 20:39] rahulsundaram opened #114 "README-mozilla.txt"
This file is empty.  It should be not?

[2014-10-19 20:39] rahulsundaram opened #115 "README-turbo.txt has executable bit set"
$subject should be fixed

[2014-10-19 23:36] kornelski opened #116 "Per-block lambda tuning"
I'm experimenting with varying quality within an image (e.g. lower quality in dark areas, high-quality DC in smooth areas, tuned quality based on feedback from visual metrics, opacity if JPEG is masked, etc.)

Do you think mozjpeg should provide API for this? What should it look like?

For me it'd be useful to have per-block, per-component multiplier for `lambda` and `lambda_dc` parameters in `qua

[2014-10-26 15:16] kornelski opened #117 "DC trellis cost doesn't take into account contrast with previous line"
DC trellis cost is based only on difference of current block's desired vs quantized value. This doesn't take into account a false edge quantization could create.

For example if first row's quantization error is -1, and in a second row's the error is +1, then the difference between these rows is almost as noticeable as quantization error +2 would create alone.

In other words, if a previous row wa

[2014-11-08 16:48] #94 closed, assigned to nobody

[2014-11-19 16:44] #85 closed, assigned to bdaehlie

[2014-11-19 16:50] #70 closed, assigned to nobody

[2014-11-25 06:25] #106 closed, assigned to nobody

[2014-11-30 04:24] #83 closed, assigned to nobody

[2014-11-30 16:33] #84 closed, assigned to fbossen

[2014-11-30 17:20] #114 closed, assigned to nobody

[2014-12-01 04:18] #68 closed, assigned to nobody

[2014-12-01 17:14] kornelski opened #125 "Remove or rename JBOOLEAN_USE_MOZ_DEFAULTS"
It's poorly named. Not very useful. Not orthogonal with other options.

"moz defaults" doesn't really mean anything (the real functionality is related to enabling more expensive encoding features, but you can't guess that from the name of the parameter). Now that moz defaults are in fact the default, this option became a way to switch to default settings of libjpeg 6b, so a better name would be `J

[2014-12-02 23:42] Aliced3645 opened #127 "LibJpeg and LibJpeg-Turbo"
Hey guys,

I found that after installed mozjpeg, under lib/ there are 2 libraries: libjpeg.so and libturbojpeg.so, what's the difference? If mozjpeg only changes turbojpeg, why there is still a libjpeg.so?

Thanks!

[2014-12-04 22:47] #127 closed, assigned to nobody

[2014-12-06 01:00] kornelski opened #128 "quant-table vs quant_table switch"
`cjpeg` help specifies `-quant-table` with `-`, but implementation expects `quant_table` with `_`

[2014-12-06 01:15] kornelski opened #129 "Disproportionally high blockyness in smooth areas"
_It's not a mozjpeg bug, but an issue that affects most JPEG encoders and should be possible to improve._

---

I've tried to implement #110, but ran into a class of cases where it's impossible to set one decent quality for an entire image, because different parts of the image react too differently to the quality setting.

Flat and alomst-flat areas of an image become very blocky very quickly:

[A

[2014-12-06 02:56] kornelski opened #130 "Quantization table number argument is not bounds checked"
Out-of-range quantization table number causes read from arbitrary memory location/crash.

[2014-12-08 04:10] #130 closed, assigned to nobody

[2014-12-08 04:11] #128 closed, assigned to nobody

[2014-12-08 19:29] #115 closed, assigned to nobody

[2014-12-13 00:10] kornelski opened #132 "Unit tests fail: pointer being freed was not allocated"
Since commit db2986c96fcebe10c8700081578e5305fd7bc7dc `make test` fails with:

[code]

[2014-12-14 11:52] #132 closed, assigned to fbossen

[2014-12-14 16:11] #125 closed, assigned to nobody

[2014-12-15 18:37] ghost opened #135 "pkg-config dependency missing"
Seems like at least one other person had the same problem:
https://github.com/mozilla/mozjpeg/issues/99
So a line in https://github.com/mozilla/mozjpeg/blob/master/BUILDING.txt would be nice.
Thanks :)

[2014-12-19 23:44] fbossen opened #137 "Scan optimization should be disabled when custom scan is provided"
Defining a custom scan has been reported to generate errors, memory overflows,
and output bad tables, unless the fastcrush option is enabled.

[2014-12-19 23:48] #137 closed, assigned to nobody

[2014-12-20 00:08] fbossen opened #138 "arithmetic coding does not work"
Using -arithmetic option in cjpeg produces incorrect "Requested feature was omitted at compile time" error.
The underlying problem is likely incompatibility between arithmetic coding and trellis quantization and scan optimization.
Using the -revert option before -arithmetic does not produce the error.

[2014-12-20 19:22] #95 closed, assigned to nobody

[2014-12-26 23:44] #76 closed, assigned to nobody

[2014-12-28 17:18] #138 closed, assigned to nobody

[2014-12-29 05:15] bdaehlie opened #139 "bad encoding of black letters on white background"
Original comment containing links to test images:
https://news.ycombinator.com/item?id=8807536

Problem spotted:
https://news.ycombinator.com/item?id=8807554

Images:
http://i.imgur.com/DTxTcLp.jpg
http://i.imgur.com/jVESWGS.jpg

[2014-12-29 14:28] jodiecunningham opened #140 "SIGFPE on specially crafted JPEG - d8f13910"
Hi Mozilla Team,

Through some fuzzing with AFL I found that cjpeg from mozjpeg 2.1 would SIGFPE on this 40-byte JPEG.

Github wouldn't let me attach it (oops)
Source file: https://www.dropbox.com/s/rvrdv6s4h64aouw/d8f13910?dl=0

To reproduce:
    cjpeg -quality 50 -outfile /dev/null d8f13910

gdb output::

[code]

System Details:
AMD64
Distributor ID: Ubuntu
Description: Ubuntu 14.04.1 LTS
Releas

[2014-12-29 14:34] jodiecunningham opened #141 "SEGV on specially crafted JPEG - 11f6acf7"
Hi Mozilla Team,

Through some fuzzing with AFL I found that cjpeg from mozjpeg 2.1 would SEGV on this 33-byte JPEG.

Github wouldn't let me attach it (oops)
https://www.dropbox.com/s/g1dl3knukp2nopq/11f6acf7?dl=0

To reproduce:
    cjpeg -quality 50 -outfile /dev/null 11f6acf7

Gdb output:

[code]

System Details:
AMD64
Distributor ID: Ubuntu
Description: Ubuntu 14.04.1 LTS
Release: 14.04
Codenam

[2014-12-29 17:23] #139 closed, assigned to kornelski

[2014-12-29 17:39] #140 closed, assigned to fbossen

[2014-12-29 18:42] #141 closed, assigned to fbossen

[2014-12-30 01:11] bdaehlie opened #142 "unused variable warnings"
Fedora 21 x86_64:

jcdctmgr.c: In function ‘quantize_trellis_arith’:
jcdctmgr.c:1287:9: warning: variable ‘best_cost_skip’ set but not used [-Wunused-but-set-variable]
   float best_cost_skip;
         ^
jcdctmgr.c:1285:7: warning: variable ‘has_eob’ set but not used [-Wunused-but-set-variable]
   int has_eob;

[2014-12-30 07:31] #142 closed, assigned to fbossen

[2014-12-30 19:35] #135 closed, assigned to nobody

[2014-12-30 19:35] #86 closed, assigned to nobody

[2014-12-31 06:38] phraktle opened #143 "Provide Java distribution"
Related to issue #91, please provide a jar with multiplatform binaries. Ideally pushed to Maven central.

[2015-01-02 16:36] hoon opened #144 "PNG support disabled in Windows binaries?"
The Windows binaries generated from the 3.0 release source by following the instructions in BUILDING.txt does not appear to have PNG support enabled.

When a PNG file is passed as input to `cjpeg.exe`, the following error message is displayed:
`Unrecognized input file format --- perhaps you need -targa`

I have manually compiled libpng and modified INCLUDE and LIBPATH, but that did not enable PNG

[2015-01-02 16:42] CoolOppo commented on #144
I'll give it a try with my binaries on Windows and get back to you with whether or not it worked for me.

[2015-01-02 16:48] CoolOppo commented on #144
Alright, same thing:

[code]

By the way, I don't ever remember there being any support for PNG anyways with `mozjpeg`. I would recommend just encoding the JPEG with something like ImageMagick and then using `mozjpeg`'s `jpegtran` to optimize it. I do understand why it is frustrating though because nobody really wants to pull in another entire toolchain just to encode a JPEG from a PNG file, but i

[2015-01-02 18:16] dwbuiten commented on #144
Indeed it looks like the cmake build system doesn't expose (or support?) the libpng checks.

However, the better idea would probably be to use ImageMagick or something with a build of mozjpeg that has stuff enabled by default. My 2 cents.

[2015-01-02 23:39] CoolOppo commented on #144
Well, that's really not a solution at all. Regardless, where can we even find a "something"?

[2015-01-03 01:04] hoon commented on #144
@dwbuiten This bug probably doesn't affect people using the pre-3.0 workflow (use ImageMagick to output to Targa and pipe to cjpeg), but the release note for 3.0 does indicate direct PNG input support.

Ideally, the build scripts would be fixed, but at the very least, the release note should be amended.

I'm a new user to mozjpeg, and it took me a while to figure out what was going on when the PNG

[2015-01-03 16:48] dwbuiten commented on #144
I think you probably misunderstood my intentions. PNG input should be fixed on Windows in the cmake build system. I'll try and submit a patch to fix this sometime soon.

I just meant the vast majority of people are still better off using mozjpeg via ImageMagick, since that's likely what their old workflow used, instead of a special toolchain just for jpeg (`cjpeg`).

[2015-01-03 17:17] CoolOppo commented on #144
@dwbuiten You're right; I misunderstood.

[2015-01-04 01:41] Ferk commented on #91
Are there any Windows builds available?

[2015-01-04 18:22] CoolOppo commented on #91
@Ferk You can use my build if you need it.

**The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherw

[2015-01-06 02:01] pornel opened #146 "Quantization table 4 (custom PSNR-HVS) generates larger files"
It's not a problem with R/D ratio, but simply proportion of file size to the quality setting compared to other tables.

[code]

typically creates files about 20% larger than other `-quant-table` settings.

If tables are at approximately the same scale (so that compressed file sizes are similar) it's easier to compare images generated with different tables (since quality doesn't have to be adjusted

[2015-01-10 14:55] pornel opened #150 "Fine-tune quantization table coefficeints from DCT data"
Scaling of quantization tables assumes that smaller divisors are always better, but that's not always true due to rounding errors.

An especially obvious case is when DC is quantized in a way that prevents it from hitting maximum value (i.e. 128 isn't evenly divisible by the DC coefficient):

quality = 9
![test-q9](https://cloud.githubusercontent.com/assets/72159/5691921/0b2b8382-98d6-11e4-890c-d8

[2015-01-19 00:14] blun opened #151 "encoding fail with grayscale+alpha png input"
Trying to encode a png file that contains one grayscale channel and an alpha channel (empty or not doesn't seem to matter) produces a JPEG file with distorted content.

(For reproducing this one you can try feeding the attached png into cjpeg v3.0 - but really any gray+alpha png seems to work.)
![cjpegtst](https://cloud.githubusercontent.com/assets/6855021/5794666/53f620e2-9f78-11e4-8d90-df77f0cac

[2015-01-24 01:04] jodiecunningham opened #153 "SIGFPE on specially crafted jpeg - b6029d31"
Hi Mozilla team,

I am running from the master branch here.

The following file causes a SIGFPE in lt-cjpeg on my platform:
https://www.dropbox.com/s/a03ddlno6v6ubzz/b6029d31?dl=0

To reproduce:
    cjpeg -outfile /dev/null b6029d31

Output:
Aborted

GDB output, (not very useful at the moment, I am going to work on that):
[code]

System Details:
AMD64
Distributor ID: Ubuntu
Description: Ubuntu 14.

[2015-01-27 08:29] visy opened #155 "stb_image cannot open a mozjpeg-produced jpeg-file"
Here's the file: http://low.fi/~visy/previews/hackers_videotex_opt.jpg

[2015-01-29 14:09] davidfavor opened #157 "make test fails in several ways"
Using latest git pull + latest Ubuntu + latest mainline ppa kernel...

net3# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.10
Release:	14.10
Codename:	utopic

net3# uname -a
Linux net3.bizcooker.com 3.18.4-031804-generic #201501271243 SMP Tue Jan 27 17:45:03 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

The - make test - step ran for hours + croaked with...

[2015-01-30 06:08] RyanBram commented on #91
Is it possibe to use [buildbot](http://en.wikipedia.org/wiki/Buildbot) for automate this task?
Some [emulator project](http://buildbot.orphis.net/ppsspp/) use it for every update.

In case somebody still looking for pre-compiled binaries, this site provide unofficial build:
http://mozjpeg.codelove.de/binaries.html

[2015-02-01 09:12] fbossen commented on #157
This appears to be related to the overshoot_deringing parameter. Will further look into it.

[2015-02-25 21:47] ryanrussell opened #158 "STDIN/STDOUT with other flags"
Hi,

I'm able to get stdin/out working just fine with mozjpeg if I just run without any flags.
Example(Python):
subp = subprocess.Popen(["/home/ubuntu/mozjpeg/cjpeg"], stdin=subprocess.PIPE, stdout=subprocess.PIPE)
        image_results = subp.communicate(input=out_im2.getvalue())

If, however, I attempt to customize this with flags(For example "-quality 70"), I cannot get it to work. I'm not sure

[2015-02-25 21:51] njdoyle commented on #158
“-quality 70” should be “-quality”, “70”. Two parameters.

[2015-02-25 22:00] ryanrussell commented on #158
Thanks Nick! You da man

[2015-02-25 22:00] #158 closed

[2015-03-05 23:54] magnetikonline commented on #91
For a little self promotion. Have put together a Dockerfile - which produces a Debian .deb package as output.

https://github.com/magnetikonline/dockermozjpegdeb

[2015-03-06 06:50] Hawkeyes0 opened #159 "How to use mozjpeg in Android and iOS?"
Hi all.
I want to use mozjpeg in Android/iOS app for saving space of images.
Please describe how to compile the mozjpeg for Android or iOS?

[2015-03-10 20:18] DrYak opened #160 "Latest commit (fbf0a5f) fails to build on Linux"
I'm trying to build myself a version of mozjpeg to play around with.

Compile fails:
* `setmode()` doesn't make any sense on system that don't make distinction between _binary_ and _text_ modes (most non-Windows OSes)
* maths functions used by the arithmetic coder need explicit linking to the libM

here is my patch (GitHub issue editor refuses do attach it):

[code]

[2015-03-11 14:24] stopiccot opened #161 "CMake building on OS X is broken"
I've installed nasm 2.11 from homebrew but still getting errors:

https://gist.github.com/stopiccot/ddeabc5160b6d5c71308

[2015-03-11 14:45] pornel commented on #161
Libjpeg-turbo (which where it comes from) by design supports CMake **only** on Windows. All other platforms must use autotools.

[2015-03-13 15:53] stopiccot commented on #161
I've created pull request that fixes this issue #162

[2015-03-17 01:24] CoolOppo commented on #159
I don't think it was ever intended for you to do that, but it is probably not *extremely* difficult to do.

I know you can use the [Android NDK](https://developer.android.com/tools/sdk/ndk/index.html) to try and compile it for Android, so give that a try if you're willing and able to be the king of the table.

[2015-03-17 01:30] CoolOppo commented on #153
Good find.

[2015-03-18 16:08] ErtugKaya commented on #91
Please provide official binaries, especially for Windows.

@CoolOppo Avast claims that your binary has a virus.

[2015-03-18 20:09] CoolOppo commented on #91
@ErtugKaya What is the specific message it says? I'm the one who built that, and I didn't do anything bad to it. Either the file got tampered with, or Avast is wrong, and [I'm going to stick with the latter](https://www.virustotal.com/en/file/c94ed96bcfabfbb0ac6ad07b279ae14a5b2406ed0f90f10f7672da41a94d234f/analysis).

[2015-03-19 07:43] ErtugKaya commented on #91
@CoolOppo Avast claimed it is infected with a virus and blocked my download. I am sorry, I cannot recall the virus name. I look for a history for web shield, it seems Avast don't log web shield alarms. It's blocking that link now. So it won't warn me again.

I believe that is a false positive too.

[2015-03-20 22:32] lkwg82 commented on #160
I tried it just now, and it runs fine.

[2015-03-21 19:32] CoolOppo commented on #160
I have no issue building it at all. I just made a fresh copy of the repo and built it in less than two minutes on Ubuntu. It seems that the issue is on your end.

[2015-03-21 19:36] CoolOppo commented on #159
Actually, the file [building.txt explicitly states how to build the library for Android](https://github.com/mozilla/mozjpeg/blob/master/BUILDING.txt#L414).

[2015-03-21 21:32] lkwg82 commented on #160
I just reverted to this specific version and I got it run.

Besides, please next time attach the error log and for the patch fork the project and request a pull request. It would have been some verification easier.

Cheers Lars

[2015-03-22 04:14] CoolOppo commented on #160
/thread

[2015-03-23 15:38] #157 closed

[2015-03-23 15:54] fbossen commented on #155
@visy Can you clarify how the JPEG image was created? It would be helpful to be able to replicable the creation of the JPEG file that you link to.

[2015-03-23 18:33] #153 closed

[2015-03-24 16:55] DrYak commented on #160
Sorry. I'm new here. I opened my github account just a few minutes before posting. I'm more used to pass patch arround. Next time, I'll be using this.

Actually (as it can be seen in the patch), the problem is when building using *cmake*. Autotools-based builds are okay. But I wasn't aware that cmake is only for non-Linux targets, and was using it.
The problems I mention still persist today: SET_M

[2015-03-24 17:14] pornel commented on #160
Everyone: please *do not use cmake on Linux*. The upstream libjpeg-turbo project **does not support cmake on linux**.

Linux build should be done only with autotools.

[2015-03-24 18:59] lkwg82 commented on #160
@DrYak Maybe you can pimp the manual at that point you trapped to use cmake?. ... and make a pull request ;)

Cheers Lars

[2015-03-24 20:44] DrYak commented on #160
Sorry, not native english speaker ; I fail to parse this part.

You mean, a pull request for my "linux-ification" of the CMake scripts ?

[2015-03-30 14:31] CoolOppo commented on #160
@DrYak When you "pimp" something (it's used as a verb here), it means that you are changing it for the better in some way. I think the term came from the television show "Pimp My Ride", where the crew would take somebody's car and fix it a lot.

Basically, you can read it like this:

The following part doesn't make sense to me either though, and I'm a fluent English speaker:

It's probable that wh

[2015-04-02 18:46] jlongman opened #166 "mozjpeg ends up in endless loop when used with I/O suspension"
I/O Suspension (see structure.txt, *§Suspendable processing* for more details) isn't properly handled:

(This code is based on v.3.0, but it goes back to v.1.0 and is not in turbojpeg v1.4.0 (I'm not familiar with both projects enough to know where what happened.))

`jcmaster.c:583`
[code]

But `empty_output_buffer` isn't guaranteed to empty the buffer - rather it can return `FALSE` indicating an

[2015-04-07 23:07] arzeth opened #167 "Build error (Linux 3.19.3, gcc 4.9.2) since the latest commit 619c20d"
Introduced in 619c20d5e841807fb7b4a32beaca1786c9d834cc (reverting of this commit fixes the error).

OS: Arch Linux x86_64
Kernel: `3.19.3-1-ck`
Compiler: `gcc (GCC) 4.9.2 20150304 (prerelease)`

It is configured this way:
[code]

Full log:
[code]

[2015-04-07 23:37] fbossen commented on #167
Should be fixed now. Let me know if you still run into issues.

-- Frank

[2015-04-08 03:30] arzeth commented on #167
Thanks, now it builds fine and works fine.

[2015-04-22 14:47] dwbuiten opened #169 "Consider adding optional PGO"
All supported compilers (ICC/ICL, MSVC, GCC, Clang) have some sort of profile guided optimization.

The important bits of mozjpeg (trellis, etc) are C-only, and can likely benefit from this. It would require a small set of test images to be provided at build time.

[2015-04-27 16:05] bdaehlie opened #171 "decoder incompatibility with Gallery 1.1.40304"
It has been reported via IRC that mozjpeg-encoded JPEGs decode poorly in Gallery 1.1.40304 on Android. This application as a whole has been discontinued and the other apps on Android decode without issues, so I'm not sure it's a big deal any more, but we should consider resolving the incompatibility, if it does indeed exist.

The reporter says that using "-dc-scan-opt 0" resolves the issue. This p

[2015-05-16 18:11] MihailZenkov opened #174 "jpegtran don't rotate jpeg encoded with arithmetic coding"
jpegtran don't rotate jpeg encoded with arithmetic coding. libjpeg-turbo don't have this problem.

[2015-05-18 14:13] #167 closed

[2015-05-18 14:14] #160 closed

[2015-05-18 20:50] LostVector opened #175 "mozjpeg compiled with nasm 2.11.08 generates corrupt images"
I pulled from the head branch a few days ago and attempted to build and run mozjpeg on a Mac Pro with the following specs:

Mac Pro (Late 2013)
Processor: 3.5 GHz 6-Core Intel Xeon E5
Memory: 16GB RAM
OS X Yosemite: 10.10.3

cjpeg generated very corrupt images.  However, the same code built and run on my Macbook Pro Retina Mid 2014 worked fine.

It should be noted that I originally tried to run mo

[2015-05-19 20:58] nathanaeljones opened #176 "mozjpeg vs. libjpeg-turbo for on-demand web asset recompression"
My use case is essentially an image resizing and re-compressing HTTP proxy.

Jpeg decompression speed matters a lot here, as input images can be orders of magnitude larger than output size. Jpeg compression speed isn't as important.

Does mozjpeg sacrifice decoding speed? If so, to what extent?

[2015-05-19 23:17] jrmuizel commented on #176
Progressive JPEGs will be slower to decode than sequential ones. Other than that, decoding speed will dominated by resolution and file size.

[2015-05-20 11:59] pornel commented on #176
You can try yourself with `tjbench` bundled with mozjpeg/libjpeg-turbo:

     tjbench file.jpg

On my machine (3Ghz i7) mozjpeg-produced progressive file decodes at 72Mpx/s, and baseline (non-progressive) at 97Mpx/s.

[2015-05-20 12:08] pornel commented on #175
I've ran into the same issue. `make test` shows this immediately.

The problem affects all version of mozjpeg, even ones that used to work on OS X fine, so I think it's problem with tooling on OS X. Perhaps an incompatible version of nasm?

[2015-05-20 21:45] LostVector commented on #175
I'm pretty sure I'm pointing to the homebrew version of nasm (the version of nasm built into OS X has never worked for me).  It's showing on the Mac Pro as

"NASM version 2.11.08 compiled on Mar 10 2015"

which hopefully is compatible?  My path has "/usr/local/bin" first as well.  I don't think mozjpeg even builds with the native version of nasm (which is good).

[2015-05-20 22:08] pornel commented on #175
Yes, it's nasm 2.11.08 that's broken. nasm 2.11.06 compiles correctly.

[2015-05-26 16:30] dmunch opened #177 "libturbojpeg.so doesn't expose libjpeg symbols (only exposes turbojpeg API)"
I just compiled `mozjpeg` on Android and tried to use `libturbojpeg` in my project (I'm essentially interested in the lossless transformations). However, `mozjpeg` apparently decided to expose only the symbols for the `turbojpeg` API but neither the l`ibjpeg` symbols nor the symbols for the transformation function. With `libjpeg-turbo` I just linked against `libturbojpeg.so` which besides the `tur

[2015-05-26 16:47] dwbuiten commented on #177
It's not supposed to. It is a different library. If you want to use the libjpeg API, link to mozjoeg's libjpeg.

[2015-05-26 16:48] #177 closed

[2015-05-30 17:36] szepeviktor opened #178 "Compiling PHP with mozjpeg"
Does mozjpeg provide the full ~~API~~ ABI of libjpeg-turbo?
These are the files in the Debian package that PHP build-depends on:
[code]

[2015-05-30 17:56] bdaehlie commented on #178
I believe so. Re-open if you have a specific problem with ABI compat.

[2015-05-30 17:56] #178 closed

[2015-05-30 17:56] szepeviktor commented on #178
Thanks.

[2015-06-24 18:30] dcommander commented on #176
@nathanaeljones It depends on a variety of factors, but if you are creating an image resizing proxy, then compression performance must be of at least some importance.  It may not be *as* important as decompression, but please note that the compression slow-down in mozjpeg vs. libjpeg-turbo is severe-- as much as 50x.  mozjpeg is not, under any stretch of the imagination, going to compress images q

[2015-06-24 18:36] dcommander commented on #159
mozjpeg is intended primarily as a way of doing non-real-time (offline) optimization of JPEG files to improve web performance (i.e. if you're hosting a lot of JPEG images, you can shrink them by 10-20% with mozjpeg and save significant disk space and maybe improve the performance of transmitting the web page to users.)  Decompression-wise, mozjpeg offers no enhancements relative to libjpeg-turbo,

[2015-06-24 23:12] CoolOppo commented on #159
It doesn't seem so slow that it's completely unsuitable for realtime compression like you're stating. I mean yeah, if you're encoding a movie using MJPEG or something sure it's unsuitable, but in the more likely scenario that OP just wants to encode one image at a time for a camera or photo editing app, it's not *that* ridiculous. Still though, it's not like mozjpeg is necessary considering you ca

[2015-06-24 23:50] dcommander commented on #159
Depends on your definition of "slow."  For a reasonably-sized digital photograph (10 Mpixels) on my particular test machine (Intel Core i7 64-bit), jpeg-6b compresses it in about 170 ms (for 4:2:0 quality 80), libjpeg-turbo compresses it in about at 50 ms (more than 3 times faster), and mozjpeg 3.1 compresses it in about 1 second (6x slower.)  1 second of delay every time you save a JPEG image, ev

[2015-06-25 05:46] CoolOppo commented on #159
I stand corrected. In that case, I completely agree with you. I use mozjpeg constantly, but I never really encode too big of images with it. Seeing actual numbers pertaining to 10 megapixel images, which really isn't uncommon for cell phone cameras now, puts into perspective how ridiculous of a wait using mozjpeg would introduce.

[2015-06-25 14:48] dcommander commented on #159
Also bear in mind that those numbers are from a fast PC.  Cell phones would be much slower across the board.

[2015-06-29 11:38] mathi1993 opened #179 "Image quality problem"
Hey guys,

I have a problem with some images. I optimized them, but the result isn't that good...you can see it here:

Image 1 Original: http://futureweb.at/userdata/115/uploads/imagetests/image1_original.jpg
Image 1 Optimized: http://futureweb.at/userdata/115/uploads/imagetests/image1_optimized.jpg

Image 2 Original: http://futureweb.at/userdata/115/uploads/imagetests/image2_original.jpg
Image 2

[2015-06-29 19:49] pornel commented on #179
Add `-sample 1x1` to preserve high-res color.

[2015-07-02 12:59] futureweb commented on #179
Seems like we overlooked this parameter - Images looking way better now - thx for your help! ;-)

*can be closed*

[2015-07-02 13:05] #179 closed

[2015-07-03 15:35] olizilla opened #181 "output from `-quality 75` doesn't match default, no flag output."
usage.txt suggests the default quality is 75
https://github.com/mozilla/mozjpeg/blob/master/usage.txt#L73

but running `cjpeg -quality 75 foo.jpg > foo.q75.jpg` produces different output to `cjpeg foo.jpg > foo.default.jpg`

What else does setting the quality flag change in the output?

Also... when I specify the quality flag, then `gm identify verbose` it doesn't match what I passed to cjpeg...
[

[2015-07-03 16:03] pornel commented on #181
ImageMagick's identify function assumes stock libjpeg is used, and it's not compatible with other quantization tables.

[2015-07-03 16:10] olizilla commented on #181
Thanks! I guess my real question is does specifying the `-quality` flag change anything else? If 75 is the default then my assumption was that specifying `-quality 75` is the same as not specifying it.

[2015-07-08 09:14] olizilla commented on #181
I'm just learning, and trying to get my head around this:

[code]
I've stripped the exif data, but they still differ. Does `mozjpeg` use the `-quality` to change some other settings, or am i just misunderstanding how it works?

[2015-07-08 12:54] pornel commented on #181
Oh, it may be a bug.

In cjpeg when you use `-quality`, then `set_quality_ratings()` is called and it calls a *LOCAL* `jpeg_default_qtables()`, which sets quantization tables based on the new `JINT_BASE_QUANT_TBL_IDX` option.

Otherwise `jpeg_set_defaults()` is used, which calls `jpeg_set_quality(cinfo, 75, TRUE);` and `jpeg_set_linear_quality`, which relies on `cinfo->master->quant_tbl_master_idx

[2015-07-09 15:06] olizilla commented on #181
@pornel many thanks for the explanation!
Is there a flag to encourage mozjpeg to use the new quantization tables even when the `-quality` flag is used?

[2015-07-09 15:20] pornel commented on #181
When you use `-quality` you get the new quantization tables. It's only the default quality that also unintentionally defaults to the old tables.

[2015-07-09 15:25] olizilla commented on #181
:+1: got it.

[2015-07-20 20:03] jrmsmith opened #182 "Image specific quantization tables"
I would like to call your attention that this patent for optimizing quantization tables [image specific] have expired:

https://www.google.com/patents/US5724453

The paper can be found here:

http://www.minds.wisconsin.edu/bitstream/handle/1793/59942/TR1257.pdf?sequence=1

The source code can be downloaded here:

http://pages.cs.wisc.edu/~ratnakar/rdopt.html

I have used the software in the past [

[2015-07-21 23:41] pornel commented on #182
Nice! Makefile and the C program from 1995 just worked on a Mac :)

And it really improves quality:

[code]

File made with rdopt qtable is both smaller and higher-quality.

[2015-07-22 04:59] CoolOppo commented on #182
Wow, that's exciting news! I really hope somebody generous enough implements this into mozjpeg.

[2015-07-22 05:02] CoolOppo commented on #182
@pornel why didn't you specify the `-quality` parameter with the rdopt quantization table?

[2015-07-22 09:05] pornel commented on #182
@CoolOppo `-qtables` controls quality in that case.

[2015-07-22 09:41] stefek99 commented on #182
*(emphasis mine)*

On my screen and I cannot tell much difference I wonder - https://www.google.com/search?q=how+to+measure+image+quality (excuse me asking a potentially silly question)

[2015-07-22 14:40] waldoj commented on #182
Yay! Bravo to @jrmsmith for calling this up and to @pornel for a speedy implementation. :)

[2015-07-22 19:56] jrmsmith commented on #182
Apparently there is even a better algorithm that doubles size savings: [Joint Optimization of Run-Length Coding, Huffman Coding, and Quantization Table With Complete Baseline JPEG Decoder Compatibility](http://ieeexplore.ieee.org/iel5/83/4711346/04682736.pdf?arnumber=4682736).

Unfortunately, it is patent encumbered probably until 2024: https://www.google.com/patents/US7570827

[2015-07-22 20:01] waldoj commented on #182
Well, just open another ticket and label it with `inyear=2024`. ;)

[2015-07-23 01:31] CoolOppo commented on #182
@stefek99 There are a lot of ways to compare an image to the original to determine the quality. To name a few:

-PSNR (Peak Signal to Noise Ratio)
-PSNR-HVS (Peak Signal to Noise Ratio - Human Visual System)
-SSIM (Structural Similarity)
-MS-SSIM (*Multi Scalar?* Structural Similarity)

[2015-07-25 18:39] pornel opened #183 "Automatic chroma subsampling level"
Chroma subsampling gives nice file size savings, but there are cases where it goes horribly wrong, e.g. thin red lines.

It would be great if mozjpeg had heuristics to detect when subsampling is appropriate, taking into account contrast in chroma channels (especially the the one responsible for red color).

[2015-07-25 18:40] pornel commented on #183
Does anybody know if there was any research done in this area?

[2015-07-25 19:05] pornel commented on #179
Could be solved with #183

[2015-07-27 08:17] jrmsmith commented on #183
Have you checked tis paper?: [PSNR-based optimization of JPEG baseline compression on color images](http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4106737)

On the plus side the paper is 10 years old and I haven't found the patent related to this paper.

[2015-07-27 08:26] danielgtaylor commented on #183
I had to expose a chroma subsampling command line parameter recently and honestly it's kind of a pain to deal with. I'd *love* to see this be automatic. :+1:

[2015-07-27 10:47] pornel commented on #183
@jrmsmith No, I can't read it — paywalled.

[2015-07-27 20:11] jrmsmith commented on #27
@pornel

Have you checked this paper [Improved Huffman coding using recursive splitting](http://www.researchgate.net/profile/Karl_Skretting/publication/229000715_Improved_Huffman_coding_using_recursive_splitting/links/02e7e535e4866ce1c7000000.pdf)?

[2015-07-28 00:02] pornel commented on #183
@jrmsmith That paper assumes distortion of subsampled image is just MSE of RGB channels, so it evaluates MSE(1x1 compression) vs MSE(2x2 compression) + MSE(scaling).

I think it could be improved by looking at MSE of Cb and Cr, with high weight on Cr (maybe even as high as R and B weights used for grayscale conversion)

The paper has a very interesting case: their algorithm chose to use subsamplin

[2015-07-28 08:24] jrmsmith opened #184 "Jpeg custom Huffman tables"
According to the following paper jpeg allows custom Huffman tables: [Improved Huffman coding using recursive splitting](http://www.researchgate.net/profile/Karl_Skretting/publication/229000715_Improved_Huffman_coding_using_recursive_splitting/links/02e7e535e4866ce1c7000000.pdf). How custom? I don't know.

The algorithm mentioned on this paper yields gains ranging 0-15% above jpeg's implementation.

[2015-07-28 09:56] pornel commented on #184
Mozjpeg already uses optimized Huffman tables (and multiple tables when progressive rendering is used, and trellis quantization).

If I understand this paper correctly, it changes coding scheme in an incompatible way.

[2015-07-28 10:44] jrmsmith commented on #184
I agree that the coding scheme is different. On the other hand, it seemed to me that compression gains also come from a better choice of code words. Is that better reordering I wonder if it could also be applied to jpeg in order to exploit any dependencies between code words.

As I'm not an expert, all this might be a wild goose chase.

[2015-07-28 11:22] pornel commented on #184
We can't change coding scheme, because that would make files unreadable as JPEGs.

If you want an incompatible file, MozJPEG already supports arithmetic coding, which is way better than Huffman-based schemes.

[2015-07-28 12:23] jrmsmith commented on #184
OK. So we now know that the degrees of freedom you were trying to use in [Avoid 0xFF00 markers in Huffman data](https://github.com/mozilla/mozjpeg/issues/27) do not exist, because that changes the coding scheme.

[2015-07-28 13:07] pornel commented on #184
No, there's a difference between inventing a new scheme and using an existing scheme in a special way.

For example it's not a violation of JPEG standard to assign Huffman codes in a way that seems sub-optimal to avoid codes with runs of 0 that require the marker.

[2015-07-28 13:07] #184 closed

[2015-07-28 20:53] dgreensp commented on #175
Thank you for this, solved my problem!

[2015-08-04 04:25] dcommander commented on #175
Verified that NASM 2.11.09 rc1 works properly.

[2015-08-08 12:27] mattrco commented on #182
Is this currently work-in-progress? I'd be interested in running some benchmarks.

[2015-08-08 16:15] pornel commented on #182
I've e-mailed the author asking if he could relicense the sample code under MozJPEG-compatible license.

To run benchmarks you can get the code from here: http://pages.cs.wisc.edu/~ratnakar/rdopt.html (to combine it with mozjpeg compression — see commands from my previous comment).

[2015-08-08 16:48] mattrco commented on #182
Thanks, I'll run it against a test corpus. Let's hope you hear from the author soon!

[2015-08-13 16:51] dcommander commented on #153
The root of this problem is that rdbmp.c uses the ambiguous INT32 type.  Windows bitmap headers are defined with very specific types:

https://msdn.microsoft.com/en-us/library/windows/desktop/dd183376%28v=vs.85%29.aspx

(DWORD = unsigned int, LONG = int, WORD = unsigned short)

https://github.com/libjpeg-turbo/libjpeg-turbo/commit/3a6cadf6c37413b7600160a33a9ad42c7f81517b fixes this by using the ap

[2015-08-14 01:47] dcommander commented on #140
This issue makes no sense.  The OP claims that a "specially-crafted JPEG" is causing cjpeg to crash, but JPEG images are never used as input for cjpeg.  Furthermore, the code in rdtarga.c would never be activated unless `-targa` was passed to cjpeg.  In any case, I can't reproduce the original issue.  In all of my testing, attempting to pass the malformed image to cjpeg results in a floating point

[2015-08-14 02:38] jodiecunningham commented on #140
I never called `-targa`, nevertheless execution reached there, and I did not claim that it caused a segfault. A closer inspection of the report might be necessary.

[2015-08-14 02:59] dcommander commented on #140
Regardless, the patch that claims to fix this doesn't fix it for me.

[2015-08-14 03:02] dcommander commented on #140
And also, I'm trying to help, so please be kind.  I received 3 of these very similar bug reports in my (very full) inbox, so I apologize if I missed a detail.

[2015-08-14 09:29] jodiecunningham commented on #140
Sorry if my response seemed discourteous. I'm here to help too. These were 7+ months ago for me and one of hundreds of bugs that I have found in my time fuzzing software. At times when I would read about new software on HN I would go fuzz it, in order to help the authors. The input files I started with were jpegs, so I assumed it was proving the program with a jpeg, but it's possible that AFL iter

[2015-08-18 12:24] vitaly-zdanevich opened #185 "Documentation?"
How we can install and use it?

[2015-08-18 23:23] pornel commented on #185
If you want to compile it from scratch, then [instructions are in BUILDING.txt](https://github.com/mozilla/mozjpeg/blob/master/BUILDING.txt).

There are no official binaries. Some people have commented where you can get packages/binaries from: https://github.com/mozilla/mozjpeg/issues/91

For Mac there's `mozjpeg` in Homebrew and I've added mozjpeg to [ImageOptim](https://imageoptim.com/).

And if

[2015-08-27 21:32] pornel commented on #8
Possibly related: https://en.wikipedia.org/wiki/Helmholtz–Kohlrausch_effect

My idea: Saturation affects perceived lightness, so when pixels lose saturation due to chroma subsampling, it could be partially fixed by adjusting luma to compensate for the loss.

[2015-09-12 11:15] ghost opened #187 "Is possible convert any image to JNG with mozjpeg optimizations?"
Hello. I want to get JNG image with mozjpeg color and alpha channel streams. How to I can do it?

[2015-09-12 11:32] pornel commented on #187
If you have a JNG converter that uses libjpeg it should "just work" if you replace libjpeg with mozjpeg implementation.

[2015-09-12 11:34] acterhd commented on #187
It's have converter - named ImageMagick. But how to implement?

[2015-09-22 22:03] okor commented on #99
@dwbulten @matylla Could you expand on the solution a bit for us mere mortals? Like if I am `missing the pkg config macros` which I don't really understand what further actions should I take to correct the problem?

Thanks!

[2015-09-22 22:13] okor commented on #99
Ok, actually figured this out. For me, I had pkg-config installed already. But I had to do a `sudo ldconfig /usr/lib` since this was a fresh box.

Googlers: Ensure you have all packages installed reload shared libs before attempting to compile. So something like:

[code]

Works for me.

[2015-09-26 12:23] Zeokat commented on #144
I have the same problem, can't process PNG images with mozjpeg 3. I hope that PNG input will be added, it's very usefull.

Thanks.

[2015-09-29 02:19] MrOutput commented on #176
for a use case of resizing images for the web, mozjpeg sacrifices encoding performance but increases decoding performance...is my understanding correct? If so, this is exactly what I need.

[2015-09-29 14:02] pornel commented on #176
@MrOutput yes, but as @dcommander pointed out choice of decoding performance is heavily affected by choice of progressive vs baseline format. So choose one or another depending on whether you also care about download time.

If you focus strictly on decoding performance, disregarding download time, then mozjpeg still improves the situation slightly, but for this case use non-progressive JPEG.

For

[2015-09-29 14:50] MrOutput commented on #176
@pornel thank you, I will use MozJPEG and progressive format then.

[2015-09-30 01:50] denji commented on #175
yasm too?

[2015-10-02 07:10] dcommander commented on #175
YASM always worked.  This bug was specific to NASM.

[2015-10-02 21:24] denlral opened #188 "jpegtran options too limited"
By default mozjpeg's jpegtran produces progressive files. They are smaller, but take substantially longer to decode, and there's no "-no-progressive" option that I can find.

It's possible to use -revert and then re-enable features, but it looks like you can't manually re-enable everything as "-revert -progressive -optimize" (-optimize actually does nothing when used along -progressive) still does

[2015-10-29 13:00] sitsofe commented on #188
It's not clear from the but jpegtran  help but using ```-fastcrush``` might actually disable progressive - on the JPEGs I tried It made smaller file sizes than without...

[2015-11-13 23:34] szepeviktor opened #189 "Debian libjpeg replacement"
Do you plan to release a Debian package that `Provides: libjpeg9` and `Conflicts: libjpeg8, libjpeg9, libjpeg62-turbo`? And ofcourse resides in `/usr/bin/`.

[2015-11-14 23:11] CoolOppo commented on #189
You could use `checkinstall` to make it happen.

[2015-11-18 21:59] njdoyle opened #190 "Support BMP versions > 3"
Mozjpeg supports BMP files as input but not recent versions of the BMP format. It currently supports up to BMP version 3. It would be useful to support versions more recent than that.

In particular, unless specified explicitly, current versions of ImageMagick will make BMPs of version 5.

The following command demonstrates mozjpeg's incompatibility:

[code]

[2015-11-19 00:21] pornel commented on #190
For piping from ImageMagick TGA works well.

[2015-11-19 22:20] njdoyle commented on #190
TGA from ImageMagick is super slow to encode. On my newish MBP, a 1733x2376 JPEG (709K) input converts to BMP in 55ms but converts to TGA in 800ms.

Either way, I think the added BMP support in mozjpeg would be worth while and that TGA isn't necessarily the best option.

[2015-11-20 13:22] pornel commented on #190
Oh, that's surprising. AFAIK TGA is as primitive as BMP, so I've been assuming it's essentially zero overhead.

[2015-11-26 19:42] njdoyle opened #191 "Input PNG images with ICC profiles don't account for colour profile"
If a PNG image is used as an input to `cjpeg` and that PNG image has an attached ICC profile, that profile will be stripped and the output JPEG will have incorrect colour.

[2015-11-26 19:47] njdoyle opened #192 "Optionally convert input images with attached ICC profiles to sRGB"
A nice feature to have would be the ability to specify that I would like any input image to `cjpeg` that has an attached ICC profile to be converted to sRGB and have the ICC profile stripped on output. This saves the (potentially many) bytes of the ICC profile being included with the output JPEG making an image that is effectively the same in the context of the web.

Current functionality seems to

[2015-11-27 10:05] pornel commented on #191
pngquant has code for it:

https://github.com/pornel/pngquant/blob/master/rwpng.c#L303

Would you like to add it to mozjpeg?

[2015-11-27 13:52] dwbuiten commented on #191
Isn't this massively out of scope for cjpeg?

[2015-11-27 14:02] njdoyle commented on #191
It's only out of scope as much as producing output images that reflect the input images is out of scope. Mozjpeg says it supports PNG input and attached ICC profiles are part of the PNG standard. ICC profiles must be considered important image data because the image can not be displayed properly without it. Possible options are to say mozjpeg only supports input of a subset of the PNG standard (un

[2015-11-27 14:04] dwbuiten commented on #191
I've always been of the opinion that cjpeg is not supposed to be an all-in-one-tool, but rather an example/simple creation tool. It seems like it would be a better endeavour to expose any missing options in upstream libtools/libraries such as ImageMagick. Why build a completely new tool when the usual suspects already work with mozjpeg out of the box, today?

[2015-11-27 14:10] njdoyle commented on #191
This isn't really an issue of cjpeg being an all in one tool. This is an issue of cjpeg not properly supporting an input format it says it supports. The tool already handles this case (in a non-breaking but not optimized for the web way) for input JPEG images so I believed it would be in scope.

[2015-11-27 14:13] dwbuiten commented on #191
ICC profiles aren't actually part of the JPEG or JFIF spec, for what it's worth.

I'm not going to object to adding LCMS2 support, however I believe users probably should not be using cjpeg in production.

[2015-11-27 14:26] njdoyle commented on #191
I understand ICC profiles aren't part of JPEG or JFIF proper (they might as well be from a de-facto standard point of view though). They are part of the PNG spec though and cjpeg says it supports PNG.

Obviously it's not my place to scope cjpeg but it is the only practical entry point for most users to mozjpeg today.

It's possible to not break output images without adding LCMS2 support. A simple

[2015-11-27 14:29] dwbuiten commented on #191
mozjpeg is API and ABI compatible with libjpeg, and you can thus use it from any tool which supports it.

Every major browser vendor supports ICC profiles in JPEG, so this may be more reasonable than adding a (optional) dependency to make it work.

[2015-11-27 16:02] pornel commented on #191
I agree that tools like ImageMagick should adopt mozjpeg. Unfortunately, they haven't, and it's much easier to build just cjpeg than to build an entire custom ImageMagick package. Personally I do use cjpeg in production for quite important projects, and I'd prefer it to do the right thing for conversion.

ImageMagick isn't the silver bullet either. By default it'll just pass ICC through, and optio

[2015-11-29 13:00] paperboyo commented on #191
+1

In my humble opinion for a full-featured colour management the above is not enough, though. It leaves out input images without embedded profiles (they will undergo no colour conversion and will have no ICC profile embedded, so will behave unexpectedly depending on browser/OS/monitor and will behave differently to images with embedded profiles).

A complete solution would be to have options for

[2015-12-01 00:04] pornel opened #193 "Gamma-correct chroma subsampling"

[2015-12-01 00:20] pornel commented on #8
Testing using image in #193

![Nether Poppleton](https://cloud.githubusercontent.com/assets/72159/11488806/331b9cac-97c1-11e5-9927-31af901b98df.jpg)

[2015-12-02 00:30] pornel commented on #193
Coincidentally the next version of WebP will solve that too, by using an iterative algorithm:

https://chromium.googlesource.com/webm/libwebp/+/master/src/enc/picture_csp.c#487

[2015-12-05 06:49] ajayindfw opened #194 "npm install of mozjpeg@4.0.1 horribly slow"
As part of our iOS and Android builds for a hybrid mobile application built using JS, HTML5 and CSS, we are using npm install to install our dependencies.  One of the dependency "ionic-minify" through a series of dependencies and transitive dependencies calls "mozjpeg@4.0.1 install which then calls:

mozjpeg@4.0.1 postinstall <root-folder>/<app-folder-name>/node_modules/mozjpeg
node lib/install.js

[2015-12-05 12:18] pornel commented on #194
My guess is that it's compiling the library from source, but even then it should be few minutes at most. Maybe it's not running make with `-j4` argument that allows parallel compilation?

However, this project only maintains a C version of the library. The node version is maintained by others: https://github.com/imagemin/mozjpeg-bin - you should file a bug there.

[2015-12-06 11:05] tuttle opened #195 "cjpeg -restart X corrupts image"
Using -restart 1 leaves me with image having large horiz bands of colors and greyscale.
Using -restart 100 the result has colors strongly blurred.
Compiled on Ubuntu 14.04. Tested also with mozjpeg built on Jan 2015, same results.

[2015-12-06 11:11] tuttle commented on #195
Adding -sample 1x1 appears to solve the issue, but the doc does not mention it AFAIK.

[2015-12-06 21:08] pornel commented on #193
Prototyped https://github.com/pornel/jpeg-compressor#luma-from-chroma-subsampling

[2015-12-06 23:42] pornel commented on #195
I'm curious, what do you use the markers for?

I wouldn't be surprised if it was a forgotten feature that's got broken.

[2015-12-07 18:45] tuttle commented on #195
I was astonished how effective mozjpeg's compression is so I was considering to use it on our family  photo archive as digital cameras make giant files and there's a little need to archive all those bytes.
So I was going through the docs, testing and researching the options to come up with the best settings for mass conversion.
Restart markers reminded me of similar nifty self-healing features in

[2015-12-08 01:58] pornel commented on #195
I see. Archival sounds like a good use case for it.

[2015-12-10 13:46] CoolOppo commented on #193
That prototype is pretty impressive. It's far better than the current subsampling.

[2015-12-17 16:48] danielhq opened #196 "not satisfying results"
Hello everyone
I took a random image from the internet (approx. 14 MB)  and run it with
mozjpeg -optimize -copy none -outfile file-opt.jpg file.jpg
Which results in a 13 MB file.
This test is made on  centOS server, with mozjpeg 3.0

I ran the same test on my machine(os x) with the same image and the result is approx. 3.7 MB
I don't know what I am missing.

[2015-12-17 21:08] pornel commented on #196
14 > 13MB change is typical for lossless operation. 14 > 3.5MB likely involved reduction of quality. Perhaps you've used jpegtran in the first case and cjpeg in the second?

[2015-12-18 08:00] danielhq commented on #196
@pornel Thats what i was thinking, how can i know and switch between the two?

[2015-12-18 13:06] pornel commented on #196
I've described some features used by the webtool here: http://calendar.perfplanet.com/2014/mozjpeg-3-0/

[2015-12-18 13:27] danielhq commented on #196
Yes, I've read the post :) and I accomplished the same results on my machine, but I wanted the same results on my server, since i thousands images i can't download them all and re-upload them.

Is there a way to switch between jpegtran and cjpeg?

[2015-12-18 13:35] pornel commented on #196
These are two separate commands. I don't know where you're getting "mozjpeg" command from.

[2015-12-18 15:58] danielhq commented on #196
Oops I forgot it was a simple symlink to jpegtran, my bad :D
Thats why i was feeling lost.

[2015-12-18 15:58] #196 closed

[2016-01-09 19:51] tomByrer commented on #91
Windows binaries would be great.
@dwbuiten I'd prefer Intel builds; they tend to run the fastest.

[2016-01-09 20:17] tomByrer opened #197 "more Multiple Scan / progressive docs/examples?"
I'd like to experiment with various settings for progressive encoding.  Namely, I'd like more control on how obtuse the first scan or two are.  The [current docs for the the `-scan`](https://github.com/mozilla/mozjpeg/blob/master/wizard.txt#L113) parameter are hard for me to fully understand.  Are there other config examples or blog posts I can read please?

[2016-01-25 19:36] JosePineiro commented on #144
The same problem with mozjpeg v 3.1

[2016-02-09 16:19] pornel commented on #144
[libjpeg-turbo may drop autotools](https://github.com/libjpeg-turbo/libjpeg-turbo/issues/56). That should make Windows and non-Windows builds more consistent.

[2016-02-16 19:31] kappuccino commented on #99
thank you @okor for your condensed solution.

[2016-02-27 23:50] matyasatfp opened #200 "cjpeg does not accept .jpg files as input"
I'm trying your tool on Windows.

If I execute "cjpeg -quality 80 input.jpg > out.jpg" I get an error:
Unrecognized input file format --- perhaps you need -targa

Due to https://github.com/mozilla/mozjpeg/issues/144 in Windows .png is not supported, is .jpg as an input not supported on Windows either?

I am using the 3.1 binary from http://mozjpeg.codelove.de/binaries.html

[2016-02-28 00:04] pornel commented on #200
Maybe you have an old non-MozJPEG version in `$PATH`. What do you get when you run `cjpeg -h` or `cjpeg -v`?

[2016-02-28 00:07] matyasatfp commented on #200
Sorry, it turned out I was testing with a corrupted jpg image.

[2016-02-28 00:07] #200 closed

[2016-02-28 20:19] felixbuenemann opened #201 "Buffer size regression test very slow"
The "Buffer size regression test" run by `tjunittest` is insanely slow compared to the same test in `libjpeg-turbo` making running `make test` as part of a packaging workflow unfeasible.

For comparison on libjpeg-turbo master `make tjquicktest` finishes in under 30 seconds, while on mozjpeg I'm already running for 25 minutes and it only progressed to the second of six subsampling tests in the fir

[2016-02-29 18:03] felixbuenemann commented on #201
Btw. the first run of `./tjunittest` without arguments took about 8 hours on a pretty recent Core i7 3.1 GHz 13" MacBook Pro. I also started the test on a linux box, which is currently at ~14h cpu time.

[2016-03-01 15:00] felixbuenemann commented on #201
The test finished with ~15 hours cpu time.

[2016-03-17 10:12] piotr-cz commented on #144
Same problem in version 3.1 (build 20150904)

[2016-03-20 12:29] tpgxyz opened #202 "Segfaults when compiled with LLVM/clang"
Hi,

we have noticed that mozjpeg compiled with clang-3.8.0 causes many segfaults i.e. firefox, dolphin.
https://issues.openmandriva.org/show_bug.cgi?id=1560
https://issues.openmandriva.org/show_bug.cgi?id=1559

Sources for uour mozjpeg package can be found here https://github.com/OpenMandrivaAssociation/mozjpeg

[2016-03-20 16:58] pornel commented on #202
Does it still segfault if you configure it without SIMD?

What version of nasm are you using? nasm 2.11.09 is known to generate crashing code.

[2016-03-20 19:16] tpgxyz commented on #202
We are running nasm-2.12.
Based on some comments on our ML, culprit can be -flto which we are using by default.

[2016-04-12 12:16] shinnn commented on #175
With NASM v2.12.01 I don't run into this issue.

[2016-04-12 13:39] lubomski opened #204 "mozjpeg zero-byting files"
Apologies for double posting this (posted this to https://github.com/imagemin/imagemin-mozjpeg/issues/9 but was closed); but i'm really struggling to get to the root cause of this issue.

Seem to be experiencing an earlier reported issue with mozjpeg zero-byting files... using grunt-contrib-imagemin 1.0.0 and imagemin-mozjpeg 5.1.0

When installing I get the error /node_modules/mozjpeg/vendor/cjpe

[2016-04-12 14:39] pornel commented on #204
Sorry, this project doesn't maintain the mozjpeg node module. If compiling binary from source solves the problem, then you need to find who compiled the node module you're having problem with.

[2016-04-12 14:51] lubomski commented on #204
apologies; closing issue

[2016-04-12 14:51] #204 closed

[2016-04-12 15:48] lubomski commented on #204
@pornel after a rather abrupt and rude lock of the thread on the imagemin-mozjpeg project; it seems that shinnn was pointing the finger at the main binary...

I've done some quick testing and seems setting the version in the package.json to 5.0.0 or less makes it work; setting it to latest 5.1.0 breaks. I assume that the imagemin-mozjpeg is pulling the core mozjpeg in...

I'm really not adept enou

[2016-04-12 18:29] dcommander commented on #175
Yes, it was fixed in 2.11.09.

[2016-04-12 20:38] LostVector commented on #175
Thanks, looks like this is fixed!

[2016-04-12 20:38] #175 closed

[2016-04-21 18:55] njdoyle commented on #202
I'm also having this problem with only certain input files; I've attached an example.

I recently updated OS X from Yosemite to El Capitan and rebuilt mozjpeg. I'm not sure if that's related to the cause but the timing feels fishy.

Here's as far as I got debugging:
[code]

![logo weird](https://cloud.githubusercontent.com/assets/316852/14720664/93076504-07d0-11e6-8d86-34ffc3b423ed.jpg)

[2016-04-22 10:52] pornel commented on #202
- Try with `./configure --without-simd`. If that avoids crashes, then problem may be in integration between nasm and the compiler.

- Try on libjpeg-turbo. If it crashes libjpeg-turbo, then you may get better support from author of that code.

[2016-04-22 13:57] njdoyle commented on #202
The problem doesn't happen on a freshly built libjpeg-turbo.
[code]
The problem only happens with mozjpeg.

Seems to be an issue with JPEG decoding. Using `--without-simd` does make the segfault go away but that is a workaround as opposed to a fix.

[2016-04-22 14:01] dwbuiten commented on #202
Like this is the fix: https://github.com/libjpeg-turbo/libjpeg-turbo/commit/498d9bc92fcf39124b6f08e57326944dedd2ddd6

It because mozjpeg does not merge from libjpeg-turbo much, and lacks all the bug fixes it gets.

[2016-04-22 15:11] pornel commented on #202
Great. I'll prepare merge from upstream.

[2016-04-22 15:11] njdoyle commented on #202
That patch applied relatively cleanly for me and solved the problem. Looking forward to seeing it in mozjpeg in the future.

[2016-04-23 22:58] felixbuenemann commented on #202
I can confirm that the change from libjpeg-turbo/libjpeg-turbo#20 is applying fine to mozjpeg 3.1 and fixes a segfault in `jsimd_ycc_rgb_convert_sse2.rowloop` I was seeing in vips 8.3.0 on Mac OS X 10.11.4.

I'm going to prepare a patch to the mozjpeg homebrew formula until a new release gets out.

[2016-04-24 04:38] ilovezfs commented on #202
@pornel Any chance of getting a new version tagged once the patch is merged to master? Thanks!

[2016-04-27 23:14] pornel commented on #202
I've merged libjpeg-turbo 1.4.x branch into mozjpeg.

https://github.com/pornel/mozjpeg/tree/libjpeg-turbo

The relevant diff:

https://github.com/pornel/mozjpeg/compare/a22ab9f3df1f9b3099d8ed64eba5a1fc0bb13815...8285e6816c8209595597f03ccc4c1c9a0e15e9e3?expand=1

### Problems:

* make test does not pass. There's new tjbittest check that fails to generate same MD5 sum. It looks like there *is* a sm

[2016-05-03 14:56] pornel commented on #202
Have you tested the merged branch?

[2016-05-03 15:01] pornel commented on #197
I've found this to be useful:

http://hodapple.com/blag/2011/11/24/obscure-features-of-jpeg.html

Note that the very first scan has to be DC only, so the ugliest blockyness is unavoidable.

I wish decoders were smarter about it and applied blur proportional to amount of data available:

https://imageoptim.com/progressiveblurdemo.html

[2016-05-03 15:01] #194 closed

[2016-05-03 15:28] tpgxyz commented on #202
I've build mozjpeg with that patch mentioned by @dwbuiten
Looks like it work on production  system.

[2016-05-03 15:58] pornel commented on #202
I'd like somebody to test the branch at:

https://github.com/pornel/mozjpeg/tree/libjpeg-turbo

which is not just that one patch, but brings mozjpeg up to date with libjpeg-turbo, so it's a major change.

[2016-05-03 16:00] felixbuenemann commented on #202
I can check it out, probably not today though. I'll report back here when I'm done.

[2016-05-04 06:49] tpgxyz commented on #202
@pornel Will do that on Monday after my holidays :)

[2016-05-05 00:09] felixbuenemann commented on #202
@pornel I compared your branch and mozjpeg-3.1 with patch from libjpeg-turbo/libjpeg-turbo@498d9bc with the following test performed with the ruby [vips8](https://github.com/jcupitt/ruby-vips8) gem against [libvips](https://github.com/jcupitt/libvips) master linked to either version:

* Convert 1200 tifs to jpeg at q=95, no subsampling, fast defaults (rgba saved as cmyk, rgb as ycbcr)
* Convert re

[2016-05-05 10:37] pornel commented on #202
Thanks @felixbuenemann!

BTW: JPEG supports alpha via JPEG-XT APP extensions.

[2016-05-05 12:33] pornel commented on #201
I believe this is caused by a memory leak in mozjpeg. 99% of the time is spent in `alloc_small` searching through linked list of objects.

The memory pool with id = 0 keeps accumulating objects and quickly reaches hundreds of thousands (while other pools have 0 or 1 objects). In libjpeg-turbo the pool also has max 1 object.

[2016-05-05 21:35] pornel commented on #201
It's caused by

[code]

which leaks.

[2016-05-19 14:53] #33 closed

[2016-05-19 14:57] njdoyle commented on #8
Was this closed intentionally?

[2016-05-19 15:04] pornel commented on #8
Yes. My experimental code is not suitable for a PR.

[2016-05-19 15:05] pornel commented on #34
Ouch. I've realized libjpeg-turbo commits with issue numbers in them act on wrong issues in this repo! Sorry!

[2016-05-19 15:09] pornel commented on #33
Sorry, this got accidentally closed when libjpeg-turbo commits were merged. However, since newer libjpeg-turbo does include fixes for iOS, this may actually resolve this issue.

Please feel free to reopen if there's still a problem.

[2016-05-25 13:07] bdaehlie commented on #195
@tuttle Do you see this bug in libjpeg-turbo? I'm wondering if this is specific to mozjpeg.

[2016-05-25 13:10] bdaehlie commented on #189
We aren't planning to do anything distro-specific.

[2016-05-25 13:10] #189 closed

[2016-05-25 13:12] bdaehlie commented on #188
I'm not sure I totally understand the issue here, but in general we aren't interested in non-progressive. I don't recommend using mozjpeg as a replacement for general-purpose libraries like libjpeg-turbo.

[2016-05-25 13:12] #188 closed

[2016-05-25 13:13] #176 closed

[2016-05-25 13:14] #159 closed

[2016-05-25 13:16] bdaehlie commented on #166
I believe we return an error now when I/O suspension is in use because we aren't going to be able to support it.

[2016-05-25 13:16] #166 closed

[2016-05-25 13:18] bdaehlie commented on #171
This was resolved per issue #83

[2016-05-25 13:18] #171 closed

[2016-05-25 13:19] bdaehlie commented on #143
We are not currently planning to provide anything more that source releases.

[2016-05-25 13:19] #143 closed

[2016-05-25 13:25] bdaehlie commented on #181
@pornel This issue seems resolved but earlier you wrote "Oh, it may be a bug." Is there a bug here? If so, can you write out an explanation of what it is?

[2016-05-25 13:31] bdaehlie commented on #161
See discussion in PR #162

[2016-05-25 13:31] #161 closed

[2016-05-25 13:40] tuttle commented on #195
sorry, no idea

[2016-05-25 14:28] bdaehlie opened #208 "merge libjpeg-turbo 1.5 stable"
merge libjpeg-turbo 1.5 stable when released. This will form the basis of a mozjpeg 3.2 release.

[2016-05-26 11:54] #197 closed

[2016-05-26 11:58] bdaehlie commented on #202
Looks like this has been resolved with the recent libjpeg-turbo 1.4.2 merge.

[2016-05-26 11:58] #202 closed

[2016-05-26 11:58] #185 closed

[2016-05-26 12:01] bdaehlie commented on #195
@pornel Do you want to look into this or should we close it? If we don't even know if this is specific to mozjpeg then I think we should just close it.

[2016-05-26 12:05] #187 closed

[2016-05-26 12:06] bdaehlie commented on #181
Should they use the same implementation? Specifically, should we just change things so that default quality is set exactly the same as if the user had passed "-quality 75"?

[2016-05-26 12:09] bdaehlie commented on #111
@pornel Is there still an issue here?

[2016-05-26 14:03] felixbuenemann commented on #201
@pornel Are you sure this is fixed? I checked out your temppool branch and `make test` still takes forever, while `TJ_REVERT=1 make test` finishes in 26 seconds.

[2016-05-26 15:25] pornel commented on #201
It changes it from long-forever to short-forever. I think the remaining difference is just due to progressive + trellis being so much slower than the default compression.

[2016-05-26 15:46] felixbuenemann commented on #201
😄 Yeah, seems I wasn't patient enough. It now finishes in 420 seconds on my machine.

[2016-05-26 16:24] pornel commented on #111
I got used to it, so it's not a pain point for me any more.

[2016-05-26 16:24] #111 closed

[2016-05-26 16:31] pornel commented on #181
Yes, I think qtables should be selected the same way whether you set quality or not, and it'd be nice if there was a DRY implementation for it.

[2016-05-26 16:39] pornel commented on #195
I've checked and it's mozjpeg-specific bug. Happens only in mozjpeg and only when optimization of progressive scans is enabled.

 `-restart` works in conjunction with `-fastcrush`

In this case we could say restart markers and scan optimizations are mutually exclusive options and ignore one when the other is enabled.

[2016-05-26 17:54] tuttle commented on #195
Personally it'd prefer a fatal user error instead of silent ignore. It would save some time and/or confusion of the ppl like me who experiment.
Thanks.
Just my $.02

[2016-05-31 04:13] bdaehlie commented on #181
@pornel Want to do this for v3.2?

[2016-05-31 08:41] pornel commented on #181
I can do it, but I can't promise I'll have time to do it for v3.2

[2016-06-03 08:00] freedom1989 opened #209 ".deb file generated doesn't work properly"
Hi all,
my environment is:
**OS**:
    Linux 3.16.0-4-amd64 #2 SMP Debian 3.16.7-ckt20-1+deb8u4 (2016-03-10) x86_64 GNU/Linux
**mozjpeg**:
    mozjpeg-3.1-release-source.tar.gz

I make a deb package following the BUILDING.txt:
[code]

then I test the generated `cjpeg` by:
[code]
it works!

then I publish the generated .deb file to my private repository. and run the following command to install the

[2016-06-03 08:17] pornel commented on #209
Looks like you're running mozjpeg's new cjpeg with system's old libjpeg.

[2016-06-03 09:48] freedom1989 commented on #209
@pornel seems you're right. do you know how to publish the `.deb` package correctly(with the correct vertions of libjpeg)?

[2016-06-03 10:33] pornel commented on #209
No, sorry.

I use `./configure --disable-shared --enable-static` and get a standalone `cjpeg` that doesn't need any dependencies.

[2016-06-03 12:10] freedom1989 commented on #209
@pornel thanks, this works for me.

[2016-06-03 12:11] #209 closed

[2016-06-05 22:06] andrews05 commented on #66
@dwbuiten have you submitted a patch to ImageMagick? If not, can you quickly tell how to build it with mozjpeg?

[2016-06-19 03:24] felixbuenemann commented on #146
This is true for all the quantization tables to some degree:

[code]

However given that both table 2 and 4 were generated from the same set of images it makes sense that they generate similar file sizes, which would also make it much easier to decide which of them performs better.

I think it would make sense to choose one table as the reference for compression level (eg. table 0) and then scale

[2016-06-19 21:11] pornel commented on #146
It may be good to scale others too, except 1 (flat), as that one is quite special.

I don't think table 2 (MS-SSIM) is better than 3 (N. Robidoux). It gives more weight to low frequencies rather than high ones. It makes gradients smoother, but also makes edges blurry. It's a trade-off. I use it for high-DPI images, but not for regular-DPI ones.

[2016-06-20 23:29] pornel opened #211 "Setting JINT_DC_SCAN_OPT_MODE after defaults generates invalid files"
Setting `JINT_DC_SCAN_OPT_MODE` and then calling `jpeg_set_defaults()` works properly, but it's unintuitive, as I would expect the defaults call to reset scan opt mode to default.

The worse part is that changing scan opt mode _after_ call to `jpeg_set_defaults` corrupts scan script, and causes damaged JPEG file to be written.

The damage is visible when decoding. The decoder will print:

and DC i

[2016-07-11 19:12] #201 closed

[2016-07-15 17:45] #208 closed

[2016-07-18 11:19] szepeviktor opened #214 "New release"
Do you plan to release a new version for these 2201 commits?
https://github.com/mozilla/mozjpeg/releases

[2016-07-18 12:18] pornel commented on #214
Yes #208

[2016-07-18 15:10] szepeviktor commented on #214
Thank you.
So the only thing in this milestone is #181

[2016-07-18 15:10] #214 closed

[2016-07-28 20:00] jippi opened #215 "no recent tags"
Hi

Are there any more recent tags than `v3.1` from `May 18, 2015`? - which doesn't match the version names in `ChangeLog.txt`

How do i get the latest stable version?

[2016-07-28 20:02] jippi commented on #215
Never mind, found #214 :)

[2016-07-28 20:02] #215 closed

[2016-08-01 09:48] blun opened #216 "incompatibility with libpng v1.6?"
Somebody please confirm whether compiling v3.1 with png support works with libpng version 1.6.
It's giving me the
`"Unrecognized input file format --- perhaps you need -targa"`
here although i seem to have installed all possible build dependencies and stuff and can't think of anything else i'm missing here. It's late at night and the problem may yet be between screen and chair, though.

configure

[2016-08-01 10:56] blun opened #217 "incomplete targa format support"
Reading from a greyscale .tga file with alpha channel fails with
`Invalid or unsupported Targa file`

Example file attached.
[53f620e2-9f78-11e4-8d90-df77f0caca82.tga.zip](https://github.com/mozilla/mozjpeg/files/393521/53f620e2-9f78-11e4-8d90-df77f0caca82.tga.zip)

[2016-08-01 12:46] blun commented on #216
As i just discovered, it seems to work fine with static compiles.

[2016-08-01 18:08] pornel commented on #217
Targa code is inherited from libjpeg-turbo, and you should try to submit patches there.

However, `cjpeg` is considered low priority (it's better to use mozjpeg by compiling it into ImageMagick or such), and alpha channel is unsupported any way.

[2016-08-01 18:44] pornel commented on #216
I'm surprised that you didn't get compilation error or a crash, because if it detects libpng in configure, it should build with it and then use it unconditionally.

In general it's compatible with libjpeg 1.6 API.

[2016-08-02 03:54] uhlhosting opened #218 "INstalled and compiled in Centos"
Nothing works... If I run mozpeg is just blank...

Used this steps to install:
autoreconf -fiv
mkdir build && cd build
sh ../configure
sudo make install

Runing Centos 7.
The files are all present it simply does not do anything...

[2016-08-02 20:57] blun commented on #216
(Default build procedure produces static builds anyway, doesn't it?.. Thought i've seen dynamic linking with binaries produced in an earlier try yesterday, though...)
Now i fail trying to reproduce the problem myself. I hope it's a good thing, hopefully just some oddity because maybe last night i tried to use my compiler before it was fully installed or something..?
Maybe i'll try and experiment a

[2016-08-02 20:57] #216 closed

[2016-08-03 11:17] pornel commented on #218
What do you mean by blank? How are you trying to use it?

[2016-08-03 12:17] highacid commented on #218
I run mozjpeg and nothing shows.

[2016-08-03 13:08] pornel commented on #218
mozjpeg mainly is a library with a C API for use by other tools, so it doesn't have any GUI by itself.

It comes with a simple command-line tool, `cjpeg`, that only converts files to JPEG. It has no GUI, it does not display anything.

If you're not a programmer, but you're looking to use mozjpeg, look for other applications built on top of mozjpeg.

For Mac I wrote https://imageoptim.com and I hav

[2016-08-05 07:15] highacid commented on #218
Hello I compiled this on Centos 7 . If I run the cmdline i get this:

`root@panel [~/uhlhosting/git]# mozjpeg

`

Every cmd line has a help menu or something. Or instructions or says something, returns something.
I followed this install: https://blarg.co.uk/blog/how-to-install-mozjpeg

[2016-08-05 09:02] pornel commented on #218
This one, like `cat`, by default expects input from stdin.

[2016-08-05 12:28] highacid commented on #218
So how would it look like a working cmd line to optimize jpegs?

[2016-08-05 14:41] Anaiappan opened #219 "Compatability Replace libturbojpeg library with mozjpeg generated library"
Hi,
Can i replace any version of LibTurboJpeg library with any version(V2.1, V3.0 or V3.1) of MozJpeg generated libraries ? or are there any compatibility that we need to follow?

[2016-08-05 16:00] pornel commented on #219
Don't use mozjpeg 2.x or older.

mozjpeg 3.0/3.1 is compatible with libjpeg-turbo 1.4 and the version in master is libjpeg-turbo 1.5.

Generally they all are binary compatible. The only gotcha (same as in libjpeg-turbo) is knowing what version of libjpeg ABI you need (6b, 7, 8) - that depends on your system/distribution.

[2016-08-05 16:00] pornel commented on #218
See

    cjpeg -h

for instructions

[2016-08-05 21:48] highacid commented on #218
Yes thank you that works!

[2016-08-06 16:09] pornel commented on #218
Check out the `jpegtran` command. It's the same as for libjpeg.

[2016-08-08 05:09] Anaiappan commented on #219
Thanks :)

[2016-08-08 05:09] #219 closed

[2016-08-09 22:44] CoolOppo commented on #74
I am not understanding why you would want to reencode the file with the same quant table instead of using jpegtran to optimize it.

[2016-08-29 06:21] MegaByte opened #220 "Encoding failure when using many scans (>60)"
When using many scans, the jpegtran fails with "Bogus virtual array access"
This failure occurs with more than 60 scans even though https://github.com/mozilla/mozjpeg/blob/a53303b82e56cdbe38a0cd90fe6124fd62a77353/rdswitch.c#L193 suggests 100 scans should work. In any case, IJG jpegtran does not fail even with hundreds of scans.

[2016-08-29 06:28] MegaByte opened #221 "Non-progressive scan configurations ignored"
Sequential scans requested through jpegtran are ignored and progressive files are produced. For example, the scan sequence below does not generate a file with the requested scans.

0;
1;
2;

[2016-08-29 15:10] pornel commented on #221
Is this mozjpeg-specific? Does libjpeg-turbo generate files as you expect?

[2016-08-30 04:55] inian opened #222 "Expose option to keep ICC profiles in jpegtran copy"
Stripping out ICC profiles from jpegs can lead to lossy compression and since jpegtran seems to be a tool to do [lossless transformations](https://github.com/mozilla/mozjpeg/blob/master/usage.txt#L469) on images, it would be good to expose an option to not strip out ICC as part of jpegtran -copy command like `jpegtran -copy skip-icc`

It might be good to keep that as a default setting even.

[2016-08-30 05:34] MegaByte commented on #221
Yes, this only affects mozjpeg. libjpeg-turbo works as expected.

[2016-09-03 08:06] jrmsmith opened #223 "Image specific optimal thresholding strategy for the DCT coefficients"
I would like to call your attention that this patented algorithm yielding the optimal thresholding strategy for the DCT coefficients [image specific] have expired:

https://patents.google.com/patent/US5734755A/en

The paper can be found here:

https://infoscience.epfl.ch/record/33889/files/RamchandranV94.pdf

This algorithm do not change the quantization tables, it only deals with finding the opti

[2016-09-03 13:43] pornel commented on #223
Thanks for the tip. The paper describes a technique that sounds quite similar to trellis quantization that mozjpeg already has.

@fbossen can you confirm?

[2016-09-05 07:19] jrmsmith commented on #223
According to the authors [see patent], this algorithm provides the best thresholding strategy:

[2016-09-05 07:20] jrmsmith commented on #223
According to the authors [see patent], this algorithm provides the best thresholding strategy:

[2016-09-28 06:33] JayXon opened #224 "jpegtran lossy for certain file?"
After this:
[code]
some pixels slightly changed.

5c67195f6993c9f8d0d32d4ffe0d8e62.jpg:
![5c67195f6993c9f8d0d32d4ffe0d8e62](https://cloud.githubusercontent.com/assets/1552641/18902687/5c961d10-8509-11e6-9a38-9aa334715bcc.jpg)
5c67195f6993c9f8d0d32d4ffe0d8e62_mozjpeg.jpg:
![5c67195f6993c9f8d0d32d4ffe0d8e62_mozjpeg](https://cloud.githubusercontent.com/assets/1552641/18902690/61bc188a-8509-11e6-9ee7-

[2016-10-04 17:16] pornel commented on #224
The input file is corrupted, so it's not entirely surprising.

[2016-10-05 05:46] JayXon commented on #224
Yes, the file is malformed, which is good for testing edge cases.
The file can be opened by major browsers and photo viewers without error, so I'd expect mozjpeg could handle this file correctly (lossless).

[2016-10-07 07:20] staabm opened #225 "documentation regarding the cli tools"
where can we find docs on the cli command, the available switches etc?

the repos comes with a lot of binaries which makes it hard for people not used to this project to use and find the "correct one".

thx for making the web better with all the mozilla tools ;-).

[2016-10-09 15:18] pornel commented on #225
The cli tools are not new to mozjpeg, so most of general documentation for libjpeg should still apply.

There hasn't been much though put into making the cli tools usable, because they're not intended as the main way to use mozjpeg. The intended use is for developers of graphics software upgrade their libjpeg to mozjpeg, so that it all works seamlessly for uses and nobody has to suffer the old cli

[2016-10-09 18:18] staabm commented on #225
Ok, so maybe it would be best to note that mozjpeg is meant as a drop in replacement and most docs availabe to the commands cjpeg, jpegtran,... apply

[2016-10-10 17:06] CoolOppo commented on #224
This isn't really an edge-case. It's a corrupt file. The solution here is to make mozjpeg warn when the input is corrupt, but I really don't see the point in wasting time trying to make it tiptoe around corrupt files in order to preserve the already corrupt data.

[2016-11-17 14:11] mkrishtopa opened #227 "version `LIBJPEGTURBO_6.2' not found (required by ./cjpeg)"
ubuntu 14
mozjpeg 3.0 release tar.gz

./cjpeg: /usr/lib/x86_64-linux-gnu/libjpeg.so.62: version `LIBJPEGTURBO_6.2' not found (required by ./cjpeg)

[2016-11-17 14:37] pornel commented on #227
You can't run anything from `.libs` directly. Either run `./cjpeg` from root directory, which is a shell script that will fake an installation on the fly, or run `make install` and run the installed command.

[2016-11-23 22:41] mkrishtopa commented on #227
Thanks, @pornel

Don't like all this installation headache, so I just installed mozjpeg from https://www.npmjs.com/package/mozjpeg :-) Easy way.

[2016-11-24 14:25] #227 closed

[2016-12-05 02:26] mboehme opened #228 "Bug when arith_code=1 and trellis_quant=0"
Dear all,

The following bug was found with AFLFast, a fork of AFL, in a one hour fuzzing session on Mozjpeg. The library calls memcpy with a null-pointer as second argument which results in undefined behaviour. Confirmed for v3.0 and for the most recent version in trunk on Ubuntu 14.04 x86_64.

How to reproduce:
$ printf "\x00\x00\x0200\x00\x0000000\xb7\x0c\xf1\x05\x10\x00" > test
$ ./cjpeg -a -n

[2016-12-06 14:11] evilebottnawi opened #229 "Using `jpegtran` and `mozjpeg` together give some confusing"
If you use the first `jpegtran` and then `mozjpeg`, the file size becomes much smaller than the use only `mozjpeg`. This is normal behavior? Or `jpegtran` have some algorithms are better than `mozjpeg`?

`mozjpeg` options - `progressive`, `quality` - `80`.
`jpegtran` options - `progressive`.

[2016-12-06 15:23] pornel commented on #229
There is no `mozjpeg` command. This project ships `cjpeg` and `jpegtran`. Are you using a 3rd party tool that wraps them or renames them?

The differences is that `cjpeg` changes quality, and `jpegtran` doesn't, so they're very different.

I think `cjpeg` copies over embedded color profiles, so if you use `jpegtran` to strip profiles (either before or after), the file will be smaller.

[2016-12-06 15:43] evilebottnawi commented on #229
@pornel thanks for answer, i am use `imagemin-mozjpeg` (he use https://github.com/imagemin/mozjpeg-bin  - inside package using `cjpeg` bin) package on `nodejs`. Is it possible to create the same behavior as `jpegtran` using `mozjpeg`?

[2016-12-06 15:48] evilebottnawi commented on #229
@pornel  It is interesting that if you use `jpegtran` before `mozjpeg` - file done smaller than use converselyю

[2016-12-07 13:31] androidland opened #230 "add -copy none to cjpeg"
please add option to strip exif info for cjpeg

[2016-12-08 03:57] CoolOppo commented on #230
use jpegtran

[2016-12-08 17:14] TPS commented on #91
It's been > 2200 commits since last binary release, which seems awfully strange, since all previous releases were done ~every 500 commits or so.  Could we get a new binary release, &, even better, a bit of a firm commitment on more regular releases (even if just ßs!), please? :bow:

[2016-12-08 18:02] pornel commented on #91
It would be good to make another release, but Josh Aas is now busy with Let's Encrypt, and making another release is up to volunteers.

The new commits are almost exclusively from updating libjpeg-turbo, and there aren't any major updates to mozjpeg itself. However, we need to ensure that there weren't any regressions in terms of bugs as well as filesize/quality ratio.

Either way, for now you'll

[2016-12-08 23:08] dmak opened #231 "jpegtran: Add option to overwrite the input file, if size is smaller"
Would be nice if `jpegtran` could overwrite input file preserving it's modification timestamp in case if transformation step had resulted a smaller file (e.g. subsequent invocations of `jpegtran` with same arguments should not modify file as it would obviously be the same).

[2016-12-08 23:13] pornel commented on #231
That would be useful in non-mozjpeg jpegtran too, so you should ask libjpeg-turbo to add it. MozJPEG is based on libjpeg-turbo and we try to keep differences minimal.

[2016-12-09 04:01] TPS commented on #91
I couldn't find anyone with current daily/ß _Windows_ binaries (especially 64-bit).…  Any suggestions/leads?

[2016-12-09 17:26] JosePineiro commented on #182
It's been over a year now.
Do you have an answer from the author of rdopt?
Do you really need a license change if the patent has expired?

[2016-12-09 22:07] dmak commented on #231
Closing as upstream feature request is rejected.

[2016-12-09 22:07] #231 closed

[2016-12-09 23:04] pornel commented on #182
I've been asking about it, but I was getting redirected from department to department.

I need license to use the existing code. I could write new code from scratch (which I'll probably do, but don't hold your breath).

[2016-12-16 12:44] adrianmihalko opened #232 "cjpeg: Skip/log already optimized files"
Is there any way to skip and log already optimized files?

[2016-12-16 21:46] pornel commented on #232
There is on way to do this, and this probably out of scope of the library. MozJPEG is intended as a very low level library for authors of image compression software.

For example you can use it via [ImageOptim](https://imageoptim.com/mac), which does skip already-optimized images.

Similarly `jpegoptim` can be compiled with mozjpeg instead of libjpeg, and it has an option to skip files too.

[2016-12-17 13:39] #232 closed

[2016-12-23 04:35] shrpne opened #233 "Mozjpeg produce images with different size on mac and windows"
This leads to situation, when each commit to git write all changed images, so repository grows very fast.

Not all images have different size, but about 90% of jpeg's

I build images with gulp-imagemin. Option provided to mozjpeg is `{quality: 90}`
Modules used on mac and windows installed with npm-shrinkwrap.json:
gulp-imagemin@3.1.1
imagemin@5.2.2
imagemin-mozjpeg@6.0.0
mozjpeg@4.1.1

There are

[2016-12-23 10:33] pornel commented on #233
Those are tools provided by others, and we don't support them. You should file bugs with them first.

The difference may come from different options or different versions built for each OS.

Also, every time you recompress JPEG you lose quality (you get 90% of 90% of 90%, etc. which is less than 90% quality), so it's normal that file size changes. Optimize ones and don't touch them again.

[2016-12-23 12:17] shrpne commented on #233
@pornel thank you for reply.
Those npm modules are just wrappers, so I thought they should not affect compression result.
But I file an issues to imagemin too.

I store two versions of images: source and minified. And always minify from source.

npm module mozjpeg@4.1.1 install this version: https://github.com/mozilla/mozjpeg/archive/v3.1.tar.gz
So usually mozjpeg on mac and windows should generat

[2016-12-27 12:17] saurabheights commented on #230
IMHO, I'm not sure if this should get a thumb down. MozJpeg project itself states its goal to "reduce the size of JPEG files without reducing quality". An option to remove metadata which can reduce the file size could lead to significant size reduction.

Integration of jpegtran to mozjpeg can be the easiest solution and definitely simpler for users as well.

[2016-12-27 13:18] pornel commented on #230
Indeed, `jpegtran` is the right way to do this.

[2016-12-27 13:18] #230 closed

[2016-12-30 19:16] szepeviktor opened #234 "Next Release"
I've noticed the 2000 commits since last release.

Are you planning to make a new one?

[2016-12-31 17:32] pornel commented on #234
Please see #214 #208

[2016-12-31 17:32] #234 closed

[2016-12-31 17:50] szepeviktor commented on #234
Thank you.
The PR from #208 was merged on Jul 11.
Is there something to 3.2?

[2017-01-04 04:02] hfhchan opened #235 "Consider also providing a GIMP plugin to replace the built-in JPEG exporter"
The current GIMP output plugin generates rather inefficient output as it uses vanilla libjpeg.  Providing compiled binaries for both Windows/Linux would be much more convenient workflow for designers/developers than having to first save as PNG then outputting a JPEG via command line.

[2017-01-04 13:35] pornel commented on #235
This project provides drop-in replacement for libjpeg for other developers to use, but does not intend to develop tools and plugins for all software.

Please ask GIMP to use mozjpeg instead of libjpeg.

[2017-01-20 00:11] adrianorsouza opened #237 "Segmentation fault: 11 on macOS Sierra"
Hi guys,

I'm getting the `Segmentation fault:11` error after compile and install `mozjpeg` on macOS 10.12.2 and trying to compress large images (something like ~500KB).

The `mozjpeg` runs fine and compress only small images lower than ~200KB for large images the error is shown and the output image is saved with 0 bytes.

[code]

[code]

[code]

## TO REPRODUCE THE ERROR

[code]

[code]

I've fou

[2017-01-20 02:30] pornel commented on #237
Can you reproduce it on master? (you'll need to add `autoreconf -ifv` before configure)

[2017-01-20 20:32] adrianorsouza commented on #237
@pornel Sorry but I couldn't reproduce it on master because running `autoreconf -ifv` throws the following error:

[code]

[2017-01-21 12:01] pornel commented on #237
You need to install libtool

[2017-01-21 14:14] adrianorsouza commented on #237
That might be something wrong with my system which I couldn't figure out

I had `libtool` shipped with XCode:

[code]

Then I did install the latest version of libtool:

[code]

The same error with `autoreconf` persists.

[code]

[2017-01-21 14:30] pornel commented on #237
Sorry, I don't know what's happening. I have the same versions and `autoreconf -ivf` works for me.

[2017-01-26 15:25] ilijapuaca opened #238 "iOS - "Wrong JPEG library version: library is 90, caller expects 62""
This might not be the right place to post this, but I'm banging my head for 2 days straight trying to figure this one out.

I've built mozjpeg for iOS per instructions provided in BUILDING.txt file. Everything went fine and I wrote some code that should perform the encoding. When trying to retrieve the handle using `tjInitCompress`, it returns `NULL` and the error string is the one from the title.

[2017-01-27 04:27] CoolOppo commented on #238
Does libjpeg-turbo work if you try to drop it in as a replacement for mozjpeg? If not, your issue is not localized to mozjpeg.

[2017-01-27 04:28] CoolOppo commented on #238
Keep in mind that the BUILDING.txt is sort of outdated and contains a lot of leftover (and perhaps untested) things from libjpeg-turbo, since mozjpeg is just a fork of that.

[2017-01-27 10:40] ilijapuaca commented on #238
I understand, and the issue is probably better suited for libjpeg-turbo repo (I've also opened an issue there).

Did you guys try running mozjpeg on iOS though? I assume the error is a fairly obvious one for someone that is familiar with the way library is being built. I'd love to make a contribution that would fix the issue if I would get some guidelines as to what exactly is going on.

[2017-01-29 13:30] ilijapuaca commented on #238
I eventually got it working by linking with both libjpeg.a and libjpeg-turbo.a that were the result of the build. I assumed it was only libjpeg-turbo.a that I needed and that's the one I created a .framework file out of.

The issue is obviously not with neither libjpeg-turbo nor mozjpeg. I still don't quite get what libjpeg was being linked against when I was getting the error initially, but I'm c

[2017-01-29 13:30] #238 closed

[2017-02-10 22:22] vatterspun commented on #91
Just a quick note that this came up on another case here on Github: https://github.com/ShareX/ShareX/issues/2270#issuecomment-277997848

[2017-02-13 16:02] abarre commented on #214
@pornel, do you have any plan in releasing 3.2 in the next weeks or months since libjpeg-turbo 1.5.0 has been merged in the master ?

[2017-02-13 21:58] pornel commented on #214
I've packaged current master as v3.2. Please test it.

[2017-02-14 01:30] chinacoolboyzz opened #239 "windows10 mingw build mozjpeg-3.2-pre error ( undefined reference to `jinit_read_jpeg' )"
windows10 mingw build mozjpeg-3.2-pre error.
The same environment compiles 3.1 to complete.
The error message is as follows:

[ 59%] Linking C executable cjpeg-static.exe
CMakeFiles\cjpeg-static.dir/objects.a(cjpeg.c.obj):cjpeg.c:(.text.startup+0x161): undefined reference to `jinit_read_jpeg'
collect2.exe: error: ld returned 1 exit status
CMakeFiles\cjpeg-static.dir\build.make:259: recipe for targ

[2017-02-14 08:50] abarre commented on #214
Sure, thank you very much.
I will test it this week and let you know.

[2017-02-14 11:58] pornel commented on #239
Can you try the master branch now?

[2017-02-15 03:55] szepeviktor commented on #214
It looks OK: https://travis-ci.org/danielgtaylor/jpeg-archive/jobs/201744487#L170

[2017-02-20 03:00] kevin-coelho opened #240 "installation or configuration problem: assembler cannot create object files."
I'm having this problem.. I've attached config.log
[config.log.txt](https://github.com/mozilla/mozjpeg/files/786462/config.log.txt)

[2017-02-20 10:05] pornel commented on #240
Do you have nasm 2.12?

[2017-02-21 02:04] kevin-coelho commented on #240
Resolved thanks!

[2017-02-21 02:04] #240 closed

[2017-03-16 19:52] pornel opened #241 "Better readme explaining MozJPEG's features"
The current readme is very terse and doesn't say much about MozJPEG's features and benefits.

I suggest expanding it with more in-depth description, list of features, example images and links to related articles.

[2017-03-16 21:01] staabm opened #242 "Gruetzli support"
Will mozjpeg also make use of https://github.com/google/guetzli in cases where it could provide filesize reductions?

[2017-03-16 23:04] pornel commented on #242
You can use MozJPEG's `jpegtran` to losslessly compress files from Guetzli even further.

However, I don't think it makes sense to include Guetzli as-is in MozJPEG currently:

* Guetzli is seriously slow. In my quick test it took 10 seconds to produce a 38KB file, which was **120 times slower than MozJPEG**.
  Guetzli is a very young project, so it's likely that it will get much faster, but curren

[2017-03-17 13:36] saurabheights commented on #242
Expanding to pornel's response, Guetzli demands high memory, few GB's for large images. The image in this [issue](https://github.com/google/guetzli/issues/11#issuecomment-272153260) is around 24 MP(4Kx6K) and ends up using 5GB mem which makes it highly impractical.

[2017-03-22 15:54] #229 closed

[2017-03-22 16:00] pornel commented on #229
`jpegtran` before `cjpeg` is not a valid result. It does not make compression any more efficient. Any difference is accidental, e.g. due to loss of color profiles.

[2017-03-22 16:01] evilebottnawi commented on #229
@pornel thanks for clarification :smile:

[2017-03-22 16:08] pornel commented on #229
Sorry, I've deleted my previous comment, because I wasn't sure about it.

In general I'd recommend `cjpeg` first, and then `jpegtran`, since that's the most logical — lossy compression followed by lossless improvement.

Since `cjpeg` doesn't support color profiles, the result could be the same regardless of order they're used, but I'm surprised that running `jpegtran` first improves things. It may

[2017-03-22 16:16] evilebottnawi commented on #229
@pornel
`cjpeg` -> `jpegtran` - good (good quality and good filesize)
`jpegtran` -> `cjpeg` - bad (bad quality and bad filesize)
Am i right ? :smile:

[2017-03-22 16:35] pornel commented on #229
yes

[2017-03-22 19:28] CoolOppo commented on #229
Wait a minute... `jpegtran` can further optimize a file encoded using mozjpeg's `cjpeg`?!

[2017-03-22 21:59] pornel commented on #229
Well, depends. cjpeg makes progressive by default. For small images if you add `-baseline` it might be a bit smaller.

[2017-03-27 16:56] trixan opened #244 "ubuntu 16.10 mozjpeg pre-build test failed"
ubuntu 16.10
npm install:

mozjpeg@4.1.1 postinstall /node_modules/mozjpeg
node lib/install.js

  ⚠ The `node_modules/mozjpeg/vendor/cjpeg` binary doesn't seem to work correctly
  ⚠ mozjpeg pre-build test failed
  ℹ compiling from source
  ✖ Error: autoreconf -fiv && ./configure --disable-shared --prefix="/node_modules/mozjpeg/vendor" --bindir="/node_modules/mozjpeg/vendor" --libdir="/node_modules

[2017-03-27 18:56] pornel commented on #244
The message says you don't have `nasm` installed. Install `nasm`.

[2017-03-27 23:07] trixan commented on #244
Resolved thanks!

[2017-03-27 23:07] #244 closed

[2017-04-02 20:26] ostatnicky opened #245 "Unable to build cjpeg as static library"
Can you give me an advice how to build `cjpeg` binary for macOS which would be static library?

I'm running everything like does https://github.com/imagemin/mozjpeg-bin/blob/master/lib/install.js
but final binary has only 47kb. I expect size around ~500kb.

My  problem is that I'm missing `libpng16.16.dylib` when I'm running `cjpeg`.

[code]

[2017-04-02 21:21] pornel commented on #245
On macOs you'd need:

[code]

In case of link errors substitute `/usr/local/lib/libpng16.a` for whatever `find /usr -name libpng*.a` finds.

On other platforms you may need to replace `-lz` with a path to a static `libz.a`.

[2017-04-03 11:17] ostatnicky commented on #245
Thank you very much! I works! :)

[2017-04-03 11:17] #245 closed

[2017-04-05 13:18] jakubzitny opened #246 "Compiler errors when building on win32/mingw"
Hi there,

I am trying to (statically) build mozjpeg for/on 32bit Windows under cygwin/mingw, however, the following errors occur:

[code]
Full output of `make` is [here](https://gist.github.com/jakubzitny/2b65198f43fdeb31c3a96aa80ae19419).

I tried `./configure` with `--enable-static --disable-shared` as it was suggested in #245 and also without it. I followed similar steps on othere platforms an

[2017-04-05 13:48] pornel commented on #246
It looks like `./configure` generates invalid configuration and/or your compiler is weird.

Officially `libjpeg-turbo` (on which MozJPEG is based) only supports `CMake`  on Windows, and this may apply even to mingw environment.

So forget about confgure && make, and try cmake instead.

[2017-04-05 16:36] lexbi opened #247 "Problems building mozjpeg on centos 6"
Hi,

I'm having trouble building the latest mozjpeg on Centos 6.

I've been looking at this guide: https://blarg.co.uk/blog/how-to-install-mozjpeg

I have yum installed libtool, autoconf, automake, nasm & make.

I cd into the mozjpeg then run `autoreconf -fiv` though I appear to get an error where a lot of threads suggest libtool is not installed, but running `yum install libtool` returns `Package

[2017-04-05 16:45] pornel commented on #247
Use the official release and you won't need to mess with `autoreconf`:

https://github.com/mozilla/mozjpeg/releases

[2017-04-05 16:49] lexbi commented on #247
Ah many thanks, I'll give that a go, I was just grabbing the latest with`git clone https://github.com/mozilla/mozjpeg.git`

[2017-04-05 16:54] lexbi commented on #247
got the tar file and got it installed now thanks! I guess when I last cloned the master branch was possibly 3.1,

Cheers dude.

[2017-04-05 16:54] #247 closed

[2017-04-05 17:29] pornel commented on #28
It's not great according to tid2008, plus integration within libjpeg would be tricky.

[2017-04-05 17:29] #28 closed

[2017-04-10 13:26] wgrrobin opened #248 "Same output and input"
Is it possible to have the same output and input in mozjpeg?

In jpegtran I can do: "jpegtran -outfile input.jpg input.jpg"
But when I do: "cjpeg -outfile input.jpg input.jpg"
I get this error message: "string(16) "Empty input file".

[2017-04-10 14:40] pornel commented on #248
No, it doesn't support that.

For `jpegtran` it makes sense, since it can operate losslessly. But `cjpeg` is a lossy tool, and you're overwriting your original file with a lossy derivative of it. And if you accidentally run that multiple times, you'll cause unnecessary generation loss in JPEG.

So it's best if you treat `cjpeg` as an "export" tool, rather than in-place optimization tool.

[2017-04-10 15:21] wgrrobin commented on #248
Good point, that makes sense.
Thank you! :)

[2017-04-10 15:21] #248 closed

[2017-04-21 09:20] lambdapioneer opened #249 "fastcrush=1 and dc-scan-opt=0 are incompatible and cause crash/error"
Hi, if I'm both enabling fastcrush (disabling scan optimization) and setting scan-opt-mode to 0, the `cjpeg` tool ends in an error state. The same is true when trying to set this setting combination in code.

**Observed behaviour and repro:**

Setting both options crashes the `cjpeg` CLI tool and results in an error. The output file is empty.

[code]

**Expected behaviour:**

 - The `cjpeg` tool c

[2017-04-21 11:35] pornel commented on #249
Indeed, these options don't make sense together.

Would you like to make a pull request that fixes it?

I suppose the best way to fix it would be not to attempt DC scan optimizations if progressive rendering is not enabled.

[2017-04-21 12:21] lambdapioneer commented on #249
Thanks for the quick reply @pornel!

I might be just looking at this too long, but I think both flags should result in progressive outputs. Afaict, the `-fastcrush` flag just makes the code default to a given distribution of the DC/AC bands among scans without optimizing for the current input. And the `-dc-scan-opt 0` results in merging the first three scans (DC scans) for compatibility.

This is

[2017-04-21 12:45] lambdapioneer commented on #249
I've found the bug :) hopefully send you the pull-request soon

[2017-04-21 18:35] JosePineiro opened #250 "Compiler errors when building on Windows (Visual C++)"
I have:
- Windows 7 x64
- Visual studio 2013
- cmake 3.8.0

I make:
- open the visual studio commandline ("Símbolo del sistema de las herramientas nativas de VS2013 x64" shorcut)
- vcvars64.bat  (set the enviroment variables)
- cd\mozjpeg-3.2-pre  (go to sources directory)
- cmake -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release .
- nmake

And get this error:
[ 56%] Linking C executable cjpeg-stati

[2017-04-21 20:40] pornel commented on #250
`rdjpeg.c` is missing from the build.

[2017-04-21 20:42] pornel commented on #250
I don't know why though. It seems to be included in cmake:

[code]

[2017-04-24 03:03] DeeDeeG commented on #241
(trying my hand at a general introduction to mozjpeg. This can be refined later or not used, but I'd also like to see a high quality reference for this software, and so I'd like to get the ball rolling.)

To start with, a rundown of all the command-line options (and how they are desirable in common real-world usage scenarios) would be great. I am learning this as I go. My findings for running with

[2017-04-26 17:27] peterheb opened #252 "."

[2017-04-26 17:27] #252 closed

[2017-04-30 12:27] #249 closed

[2017-04-30 12:27] #242 closed

[2017-04-30 12:50] pornel commented on #233
There shouldn't be a difference if the same version with the same build and run-time configuration is used on the same CPU architecture.

However, I know nothing about the Node modules - how they're built, how they're configured. Please report this to maintainers of the Node packages and have them report precisely problems they find, specifically in the C library.

[2017-04-30 12:50] #233 closed

[2017-04-30 13:13] #235 closed

[2017-04-30 21:02] maraisr opened #255 "Ubuntu 17.04 libpng12.so.0: cannot open shared object file"
**Error message:**

[code]

From [what I can see](https://askubuntu.com/a/895903/250605) I'd need to contact you guys?

----

**OS:** Ubuntu 17.04
**Version:**: mozjpeg v4.1.1

**Package**: `sudo apt-get install libpng-dev` ran with no errors:
[code]

[2017-04-30 21:23] pornel commented on #255
You have mozjpeg built for a different version of the system (e.g. a Debian one, or for an older version of Ubuntu). You need to recompile it or get a binary compatible with your version of Ubuntu.

[2017-04-30 21:23] #255 closed

[2017-05-01 12:36] #241 closed

[2017-05-03 15:17] JosePineiro commented on #91
You have windows binaries in https://encode.ru/threads/1892-mozjpeg

[2017-05-03 15:33] TPS commented on #91
@JosePineiro Official binaries are important, as, especially @ the time this was posted, even *un*official 1s are few & far between.

[2017-05-03 16:45] pornel commented on #91
There are no official binaries.

The main reason is that I don't know Windows enough to properly build libraries for Windows. I've tried providing binaries for pngquant before, and it's been an awful experience.

The second reason is that nobody should even need a MozJPEG binary. The intended way to use MozJPEG is via 3rd party programs. We'd like tools like ImageMagick, GIMP, Sketch, etc. to seam

[2017-05-04 00:07] CoolOppo commented on #91
@pornel want me to make a quick video of how to compile MozJPEG on Windows? I know you could figure it out, but if it'd help I'll do it since I compile it all the time anyways.

[2017-05-04 00:32] pornel commented on #91
What would be useful is if you set up a Continuous Integration servers that make Windows binaries for the master branch and all tags (exe as well as libjpeg.dll/turbojpeg.dll for popular versions of VS runtimes and MinGW, 32 and 64-bit), especially if you could package that setup as some form of image/script that can be used to rebuild it in another place later.

[2017-05-04 05:52] CoolOppo commented on #91
@pornel I'll see what I can do with AppVeyor. I don't think it supports MinGW, but it can spit out static binaries that won't depend on `msvc***.dll`.

[2017-05-04 05:56] vrubleg commented on #91
CoolOppo, actually, it is possible to use msvcrt.dll (which present in Windows 98+) from the Visual Studio 2013 + Windows DDK v7.1 (it provides *.lib files for such purpose). It could be useful.

[2017-05-04 06:22] CoolOppo commented on #91
Well...that was surprisingly easy!

https://ci.appveyor.com/project/CoolOppo/mozjpeg/build/artifacts

[2017-05-04 14:12] TPS commented on #91
Could someone comment on how these compare to, say, binaries from:
- https://encode.ru/threads/1892-mozjpeg?p=43777&viewfull=1#post43777
- https://encode.ru/threads/1892-mozjpeg?p=51824&viewfull=1#post51824

_(@javiergutierrezchamorro Please be aware of these new binaries to use in FileOptimizer:_

[2017-05-04 14:14] TPS commented on #91
@CoolOppo I forgot to say thanks! :bow:  Could you have 64-bit binaries built, too, though?

[2017-05-04 15:08] javiergutierrezchamorro commented on #91
Thanks @TPS
Have now updated the x86 build on FileOptimizer. Will do with the x64 one if @CoolOppo builds a Win64 one.

[2017-05-04 18:51] pornel commented on #91
Thanks. Could you also build the actual library? `libjpeg.{dll,a}`?

[2017-05-04 22:51] CoolOppo commented on #91
Yeah, I'll try and get that set up right now.

[2017-05-06 17:38] liungkejin opened #256 "compress so slow"
I build mozjpeg for android, but compress bitmap to jpeg so slow!
`(Bitmap 1080 x 1920, quality 100, compress need 3s) on OnePlus 3`

My build configuration
[code]

My code
[code]

[2017-05-06 18:58] pornel commented on #256
It's normal that encoding with MozJPEG is a few times slower than with plain libjpeg-turbo.

BTW, quality 100 is inappropriate for JPEG. The file is going to be a few times larger (and therefore also compress slower) than more usual quality in range 70-90.

[2017-05-08 19:53] JosePineiro commented on #91
I make this c# wrapper: https://github.com/JosePineiro/MozJpeg-wapper/blob/master/README.md
You have the 32 and 64 bits compiled DLL (the turbojpeg.dll) of version 3.2
Is the most easy API

[2017-05-09 10:44] TPS commented on #91
@JosePineiro That link not found.  Also, any luck re: x64 .exe's?

[2017-05-09 10:51] TPS commented on #91
@JosePineiro
https://github.com/JosePineiro/MozJpeg-wrapper/blob/master/README.md works (missing `r` in `wrapper`) 🤦

[2017-05-09 10:53] javiergutierrezchamorro commented on #91
Thanks, but I am interested in static EXE.

[2017-05-09 15:26] JosePineiro commented on #150
Is the same optimization that https://github.com/mozilla/mozjpeg/issues/81
And similar to https://github.com/mozilla/mozjpeg/issues/182

[2017-05-10 08:50] jrmsmith commented on #150
In my opinion, this is a waste of time. A time that would be better spent implementing #182 and #223 -- which provide the best quantization table and the best DCT coefficients.

[2017-05-10 13:46] brunogm0 commented on #183
[](https://discoverybiz.net/enu0/faq/faq_YUVbyBreeze_test_00.html)

Nicce test of subsampling patterns, but the sensitvity of a few test images is good to use for this feature.

[2017-05-11 03:03] haorui1993 opened #257 "function"jpeg_read_scanlines" crashed at second time when used in IOS"
Hi:
   I've used the cmd" **_sudo ./configure --host aarch64-apple-darwin \
CC="/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang" LD="/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang" \
CFLAGS="-fembed-bitcode -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhone

[2017-05-11 13:01] #256 closed

[2017-05-12 08:53] haorui1993 commented on #257
all right,I've solved this program.To make the jpeglib.a which is used in IOS device correctly,I used CMAKE to make a Xcode Project with Mozjpeg source code.

[2017-05-12 08:53] #257 closed

[2017-05-25 14:36] zivillian opened #260 "turbojpeg uses different defaults"
The defaults for jpegtran introduced by 1d3533f are not applied to the turbojpeg library.

#### Disclaimer
I've attached a patch, which tries to mimic the behaviour of jpegtran in tjTransform, but I never learned c - so please be lenient.

I found this issue while trying to convert testimgint.jpg to grayscale using the turbojpeg API from a [c# wrapper](https://github.com/ahdde/ahd.mozjpeg/blob/aac

[2017-05-25 15:36] #260 closed

[2017-05-25 15:37] pornel commented on #260
Thank you. That makes sense. The Turbo API unfortunately doesn't get proper maintenance in this project.

[2017-05-25 19:58] jrmuizel commented on #81
Closed accidentally by upstream

[2017-05-26 12:55] pedroskakum commented on #255
And how is that done? I'm with the same problem. I do not know how to proceed. Thanks

[2017-05-26 13:02] pornel commented on #255
1. Ensure your system's libpng is not misconfigured. This should show `1.6.…` and `-lpng16`:

[code]

2. Delete the existing cjpeg binary, and clean build directory (`make clean`)

3. Configure and build again from scratch, following regular build instructions in the repo

[2017-06-01 08:15] DeeDeeG commented on #144
Folks are talking about this issue on a compression forum: https://encode.ru/threads/1892-mozjpeg/page3?s=95ba320be9082e2043bd367eafe1a456

They have a fix there it seems. Maybe someone from there can contribute their fix, or it can be reviewed and manually re-implemented?

[2017-06-01 21:05] pornel commented on #144
PR would be welcome.

One problem is that the fix from the encode.ru forum makes libpng *required* to build mozjpeg. It should be optional, like in the autotools version.

[2017-06-02 17:26] kud opened #261 "Troubles to compile from source with node 8"
[code]

(trying to install it via `image-webpack-loader`)

[2017-06-02 17:27] kud commented on #261
(Works with other libs)

[code]

[2017-06-02 17:27] kud commented on #261
(maybe useful)

[code]

[2017-06-02 17:44] pornel commented on #261
This project is not related to Node.js. Please ask maintainers of Node packages for help.

[2017-06-02 17:44] #261 closed

[2017-06-02 19:20] kud commented on #261
I can understand @pornel but

[code]

isn't a node command, no?

[2017-06-02 19:23] njdoyle commented on #261
Looks like the relevant Node people incorrectly assume you have nasa installed I would guess.

[2017-06-02 19:52] kud commented on #261
Okay @njdoyle , thank you, i'll investigate. :)

[2017-06-04 05:12] bydbest commented on #110
any update on automatic quality level ?

[2017-06-04 07:17] bydbest commented on #182
any update on this ?

[2017-06-04 14:18] pornel commented on #182
If someone wants to help, try implementing this algorithm:

https://pdfs.semanticscholar.org/2383/e0f04cbdc5036155e8275bbbaa2b09a00359.pdf

[2017-06-04 23:57] rayfoss commented on #218
I'm on Fedora, ran uhlhosting's steps and I get "make: *** No targets specified and no makefile found.  Stop." Has anyone here gotten this to build?

[2017-06-05 02:47] pornel commented on #218
"No makefile found" means you haven't run `./configure`.

[2017-06-05 16:15] rayfoss commented on #218
@pornel thanks for the tip. I had ran `./configure` but it runs into an error `configure: error: no nasm (Netwide Assembler) found` :/

[2017-06-11 05:46] bydbest commented on #182
i have installed mozjpeg and as mozjpeg is replacement of libjpeg so be default imagemagick will start using mozjpeg or we need to change something ?? how to check imagemagick is using libjpeg or mozjpeg ?

[2017-06-11 15:03] pornel commented on #182
It depends how imagemagick was built. Most likely it will *not* use MozJPEG, and you will have to recompile imagemagick specifically telling it to use mozjpeg instead of libjpeg.

[2017-06-21 12:59] gbiryukov commented on #237
Workarond that helps me (mac os 10.12.5):
1) download binary from here https://github.com/imagemin/mozjpeg-bin/tree/master/vendor/macos
2) upgrade `libpng`
[code]
I have upgraded from 1.6.10 to 1.6.29

And that's it.

If you upgrade `libpng` first and then will try to rebuild binary from sources maybe it will helps too.

[2017-07-03 06:04] magicgoose opened #262 "Butteraugli quality metric"
https://github.com/google/butteraugli (it's one of the key points in guetzli, btw)

AFAIK this metric is more faithful than different variants of SSIM and PSNR, so… maybe mozjpeg could (optionally) use this metric to achieve even better results?

butteraugli takes an image pair and outputs "heatmap" of perceptual difference, so it may be used to iteratively tune quantization levels per block until

[2017-07-03 11:12] pornel commented on #262
Guetzli already makes an excellent use of that metric. If Butteraugli works for you, then Guetzli is the best you can get. You can compress its files a bit further losslessly with MozJPEG's `jpegtran`.

But I don't see how MozJPEG could use this metric without becoming Guetzli, with all its limitations.

[2017-07-03 17:56] magicgoose commented on #262
MozJPEG uses progressive encoding (which is more efficient; Guetzli team already stated that progressive encoding is not planned btw) and has more wide useful quality range (guetzli is described as useful only for almost-perfect quality levels).
And, anyway, having to use 2 tools (if progressive jpeg is desired) is not ideal. MozJPEG could become the universal solution.

[2017-07-03 19:10] pornel commented on #262
MozJPEG's tuning for visual metric is done only by proxy via quantization table presets, and therefore only works for single-channel metrics. It wouldn't do anything meaningful when tuned for butteraugli. For butteraugli you really need full-color pixel-based analysis, which does bring the computation cost and complexity of guetzli.

[2017-07-05 07:40] CoolOppo commented on #262
Couldn't you add quantization table presets based on Butteraugli metrics?

[2017-07-05 11:21] pornel commented on #262
It would produce meaningless results.

Simplifying, qtable presets only model sharpness of "grayscale" metrics, and guetzli/butteraugli focuses on relationships between colors.

[2017-07-05 15:40] magicgoose commented on #262
Maybe this is not a bad thing, as long as it's opt-out

[2017-08-21 10:38] meowtec opened #264 "How to set the `background` color if the input is a PNG with alpha?"
I used mozjpeg to convert a PNG to JPEG, the original PNG file is:
<img src="https://user-images.githubusercontent.com/4006436/29515406-df669318-869e-11e7-8640-c99342981231.png">

It would be convert to:
![da775955acc6cd393c1c20b12ba1f248](https://user-images.githubusercontent.com/4006436/29515525-59d27dec-869f-11e7-90bd-ba9f918bb110.jpg)

It seems that mozjpeg simply removes the alpha value.

The

[2017-08-21 12:51] pornel commented on #264
There's no way to add a background. You will have to add it to your PNG first.

[2017-09-02 10:10] rfjakob commented on #190
For future me (or other people) finding this ticket: You have to pass "BMP3" to ImageMagick:
[code]

[2017-09-13 02:40] ShengJunHu opened #265 "How do you use Mozjpegon Android?"
Mozjpegis very nice. I want to use it on Android, but I don't know how to compile it into the so library required by Android. Can you help me?

[2017-09-13 12:12] pornel commented on #265
Look for instructions about NDK and compiling of libjpeg-turbo (MozJPEG will require exactly the same process).

[2017-09-14 01:38] ShengJunHu commented on #265
Thanks

[2017-09-14 01:38] #265 closed

[2017-09-20 23:53] GuoLuchuan opened #266 "error:"C compiler cannot create executables", when run ./configure xxx for iOS"
Hi,

I fellow the step in Building.txt.

**But it throws the error** :
[code]
In the config.log is shows like this :
[code]

My Xcode version is 8.3.1 and 9.0
pkg-config version is 0.29.2
autoconf version is 2.69
automake version is 1.15
libtool version is 2.4.6
NASM version is 2.13.01

My operation is like this:

  IOS_PLATFORMDIR=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.plat

[2017-09-27 09:17] Ser-Gen opened #267 "Wrong colorspace error"
I have problem with compressing an image.

![broken](https://user-images.githubusercontent.com/1856145/30904289-386999e0-a37a-11e7-9fc5-39f3b6bd1909.jpg)

With settings  `-quality 92` I got this file.

![cjpeg_broken](https://user-images.githubusercontent.com/1856145/30904632-315c6bea-a37b-11e7-9c6e-cd77c31aad21.jpg)

In iOS Safari, Photoshop and in some other tools this image looks a bit more gla

[2017-09-27 15:57] pornel commented on #267
Yes, indeed. This is probably a CMYK JPEG which isn't supported. If you can use PNG input for mozjpeg.

[2017-09-30 02:36] leonzhao7 opened #268 "NULL Pointer Dereference vulneribility in quantize_ord_dither function of mozjpeg"
## Command and argument
djpeg -crop "1x1+16+16" -onepass -dither ordered -dct float -colors 8 -targa -grayscale -outfile o [infile]
## Crash Information
The output of bpgdec with address sanitizer enabled
[code]
and the second POC file, i think thay should be a same vulneribility.
[code]
## POC file
[mozjpeg-quantize_ord_dither-crash.zip](https://github.com/mozilla/mozjpeg/files/1346042/mozjpeg-qu

[2017-10-03 18:19] Ser-Gen opened #269 "Trouble with Imagemagick's pipe on windows"
Can't use in-memory compression with pipe.

Command from this article:
https://calendar.perfplanet.com/2014/mozjpeg-3-0/

[code]

With this image
![input](https://user-images.githubusercontent.com/1856145/31141256-8cd97630-a87f-11e7-90c5-9e2f7614a2d7.png)
I got broken

![output](https://user-images.githubusercontent.com/1856145/31141311-b686918e-a87f-11e7-8812-a6bca9c34e82.jpg)

I have tried other

[2017-10-03 18:33] pornel commented on #269
Try

[code]

[2017-10-04 14:58] Ser-Gen commented on #269
Nope, `BMP2` and `BMP3` outputs bad image, same as `TGA`.

[code]

![output](https://user-images.githubusercontent.com/1856145/31182632-169be332-a92d-11e7-88e5-16f58c9b2f49.jpg)

[2017-10-04 15:22] pornel commented on #269
In that case, are you sure imagemagick works correctly? It's quite unusual for 3 different formats to fail in an identical way.

[2017-10-04 15:42] Ser-Gen commented on #269
I will try to check IM work somehow.

By the way, some fails a bit different.

[code]

[2017-10-04 19:11] Ser-Gen commented on #269
Yep, IM pipe is broken :\\
Thank you!

[2017-10-04 19:11] #269 closed

[2017-10-09 19:59] jan-dh commented on #91
Would love some official binaries. Need to use this server-side for uploaded images

[2017-10-19 14:49] HansMeiser234 commented on #227
Hello,

have the same issue on Ubuntu16:

ldd cjpeg
./cjpeg: /usr/lib/x86_64-linux-gnu/libjpeg.so.62: version `LIBJPEGTURBO_6.2' not found (required by ./cjpeg)
        linux-vdso.so.1 =>  (0x00007ffe3c3f0000)
        libjpeg.so.62 => /usr/lib/x86_64-linux-gnu/libjpeg.so.62 (0x00007fd4f827b000)
        libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fd4f7eb1000)
        /lib64/ld-linux-x86-64

[2017-10-19 14:53] pornel commented on #227
If you have other copy of libjpeg on the system, you have two options:

* uninstall it
* or `./configure` mozjpeg with `--prefix` that points to a private non-system directory

[2017-10-20 08:33] HansMeiser234 commented on #227
Hello,
thanks for your answer.
In my case it was best to remove not needed package libjpeg62.  Changing --prefix to non-standard-folders is a problem for us. In Hosting we use apparrmor to restrict execution of binaries to typical folders for security reasons.  In this case we had to extend allowed paths, what we want to avoid.
May be the Topicopener reads this and understand the problem from mont

[2017-10-25 11:34] semiromid opened #270 "Where i can see to how use?"
Where i can see to how use?

[2017-10-25 11:37] pornel commented on #270
This article includes some instructions: https://calendar.perfplanet.com/2014/mozjpeg-3-0/

[2017-11-03 23:04] redneb commented on #190
Actually, I found that you also have to add the `-compress none` option, like so:

    convert logo.png -compress none BMP3:- | cjpeg > out.jpg

This is because sometimes imagemagick uses RLE for the output.

[2017-11-20 03:03] longlong0001 opened #271 "Unsupported JPEG data precision 8"
My environment and my version:
D:\visual studio 2015\Projects\mozjpeg-3.2\build\Release>cjpeg-static.exe -version
mozjpeg version 3.2 (build 20171119)

My wrong:
D:\visual studio 2015\Projects\mozjpeg-3.2\build\Release>cjpeg-static.exe -quality 92 c:/7.jpg
Unsupported JPEG data precision 8

please help me ?

[2017-11-20 12:00] pornel commented on #271
Did you build the executable yourself? It looks like it's configured to support only 12-bit JPEGs, which nobody uses.

[2017-11-21 12:57] zevilz opened #272 "Errors while build rpm package (CentOS 7.4.1708 x86_64)"
[code]

[2017-11-21 13:50] pornel commented on #272
Unfortunately I can't help. Please report it to author of the RPM.

[2017-11-25 22:29] magicgoose commented on #192
Stripping profile might be quite bad because then the rendering of the resulting file is undefined. I've seen Firefox rendering the same image very differently when the sRGB profile was stripped out.
I suggest adding a minimal sRGB profile like https://pippin.gimp.org/sRGBz/ instead.

[2017-12-02 18:06] iftikhar0750 opened #273 "How can i use it for linux server with PHP ?"

[2017-12-02 18:51] pornel commented on #273
See usage instructions in https://calendar.perfplanet.com/2014/mozjpeg-3-0/

[2017-12-02 18:51] #273 closed

[2017-12-04 05:40] magicgoose opened #274 "Port several interesting&great ideas from sjpeg?"
https://github.com/webmproject/sjpeg

• It can automatically evaluate the distortion which would be added by chroma subsampling and enable it (only)if the distortion is tolerable, this is called 'Riskiness' score
• If I understood it right, it can find optimal quantization matrices for each image, instead of using a fixed quantization table (scaled with quality). Not sure if mozjpeg already does t

[2017-12-04 10:23] sp-1234 commented on #274
The first point as implemented there right now doesn't produce useful decisions, but the idea is good

[2017-12-04 14:31] pornel commented on #274
Yeah, these are great experiments to learn from.

Currently cjpeg hardcodes subsampling based on quality, so image analysis could certainly improve things. I agree with @sp-1234 that the current implementation in sjpeg is not ideal.

Per-image qtables are most promising here. I haven't looked at the implementation yet.

[2017-12-04 14:35] pornel commented on #274
Is it safe to automatically change subsampling in the libjpeg API? Can you help me investigate what could go wrong?

I'm sure it can't be done when raw data access is enabled, since it changes layout of image data. But is it safe for RGB input?

[2017-12-04 14:51] sp-1234 commented on #274
yeah. I compared sjpeg to mozjpeg on 1 image (both without chroma subsampling and q=90);
sjpeg (after further crunching with mozjpeg-jpegtran) achieves 10% smaller file, while having a little bit better quality (according to dssim comparison with original image — 0.003707 vs 0.003921).
I tried to also match dssim closer, but the quality difference for ±1 is too big, and apparently sjpeg doesn't un

[2017-12-05 19:25] iftikhar0750 commented on #273
i don't know how to compile it to run in ubuntu . can you help me more please to tell me how to compile because when i try to compile it show too much error.

[2018-01-25 13:20] amughrabi opened #277 "An inquiry about the maximum size a MozJPEG image"
I wish to have an answer about the maximum pixel dimensions of a MozJPEG image; for instance, what is the maximum image's width and height (W x H) for the source image before calling it via JNI or command line?

Thanks,
Mughrabi

[2018-01-25 15:27] kornelski commented on #277
65500x65500 pixels

[2018-01-25 15:31] amughrabi commented on #277
Useful info, thanks @kornelski!

[2018-01-25 15:31] #277 closed

[2018-01-26 19:24] bumper314 commented on #174
This bug doesn't seem to be limited to images with arithmetic coding.  I found that after optimizing, the resulting image will silently fail to rotate.

Test file (8mb): https://d.pr/i/SO9cX4

Output from `jpeginfo -i 142.jpg`:
[code]

### Test 1
Rotate image with `jpegtran -outfile rotated.jpg -rotate 90 142.jpg`
=> Rotates successfully

### Test 2
Optimize with `jpegtran -copy none -progressive

[2018-01-27 01:48] kornelski commented on #174
This is expected. It's because JPEG images can be losslessly rotated only if their size is even multiple of 8 or 16 (16 if the image uses chroma subsampling).

[2018-01-27 03:59] bumper314 commented on #174
I disagree.  Stock `jpegtran` works fine.  Why does the image rotate fine with the unoptimized image vs the failed rotate with the optimized, when they have the same dimensions?

Also, the rotate should only fail if the `-perfect` option is used.

[2018-01-28 19:37] amughrabi commented on #277
Hi @kornelski, In this [wiki page](https://en.wikipedia.org/wiki/JPEG) I found JPEG/JFIF supports a maximum image size of 65,535×65,535 pixels. Do we truncate 35 from each dimension to have an approximate value?

[2018-01-29 22:42] kornelski commented on #277
The source code contains:

     #define JPEG_MAX_DIMENSION  65500L  /* a tad under 64K to prevent overflows */

[2018-01-29 22:52] amughrabi commented on #277
Ah-ha! I thought it was an approximate value. Thanks, @kornelski!

[2018-02-01 13:43] alexander-schranz commented on #248
Hello,

I hang into this issue and hope we can reopen it.

@kornelski I know your point but there are other usecases where you don't want to copy your current file. In my case I download a original file -> run some optimizers -> upload the optimized file. In this case I don't want to create multiple files.

[2018-02-02 17:18] kornelski commented on #248
That's true. It's a painful problem that applications are not using MozJPEG as built-in C library. The original vision for this project is that you *wouldn't even know it exists*, and it would be built into ImageMagick, GIMP, and perhaps even Photoshop and other programs that produce JPEG images.

The `cjpeg` command is a 20-year-old *demo* program that nobody cared about until MozJPEG, and nobody

[2018-02-02 19:03] alexander-schranz commented on #248
@kornelski thank you for your fast response. Sorry for my inexperience what is the best way to reduce the filesize using the jpegtran command from mozJpeg project?

[2018-02-28 15:21] DevSide opened #278 "libpng16.so is missing"
mozjpeg 3.2
platform: Ubuntu 16.04

When I run `cjpeg` command, i've got this error:
`[...]/vendor/cjpeg: error while loading shared libraries: libpng16.so.16: cannot open shared object file: No such file or directory`

It looks like installation requires libpng16 on linux (darwin) platforms.

I had to fix this by running
`sudo apt-get install libpng16-dev` or `sudo apt-get install libpng16-16`

[2018-02-28 15:22] #278 closed

[2018-02-28 15:27] DevSide commented on #278
Sorry, it's an imagemin/mozjpeg-bin issue.

[2018-03-02 17:41] wstoettinger opened #279 "cjpeg "Unrecognized input file format" for .jpg and .png on alpine linux in docker"
Hello!

I am trying to integrate mozjpeg in my alpine docker container (following this tutorial: https://ariya.io/2016/03/using-mozjpeg-via-docker).

The build works fine (with some warnings) and `jpegtran` seems to work but when i'm trying to use ´cjpeg`, no matter which parameters or files I use, i get the following error:
[code]

I tried different jpg and png files, I tried mozjpeg v3.3.1 and v

[2018-03-02 20:08] kkopachev commented on #279
`cjpeg` supposed to compress jpeg. Does not look like it takes jpeg files as input. You probably want to do
`djpeg input.jpg | cjpeg -quality 80 -progressive -optimize > output.jpg`

[2018-03-02 22:00] kornelski commented on #279
MozJPEG's `cjpeg` always supports JPEG as an input.

If you give it a JPEG and it wants a targa file, it means **it's not MozJPEG**. You're probably running an old plain cjpeg command that comes with your Linux distribution.

[2018-03-03 12:10] wstoettinger commented on #279
@kornelski you were absolutely right! It just didn't came to my mind that Alpine could have it's own cjpeg given the small size of the distro.

Thanks for clarifying that!

[2018-03-03 12:10] #279 closed

[2018-03-03 12:13] wstoettinger commented on #279
okay, Apline doesn't come with a cjpeg. one of my fellow devs added libjpeg turbo utils and I didn't realize it. *facepalm*

[2018-04-10 15:51] cosine commented on #255
I just ran into this problem, and the cause is a `cjpeg` Linux binary downloaded by the released versions of this project.  The `cjpeg` binary comes from some configuration specified in `node_modules/mozjpeg/lib/index.js`.

The current workaround is generally to load a copy of `libpng12.so` from a mirrored copy of the older package.

As more and more Linux distributions are updated to no longer in

[2018-04-10 15:58] kornelski commented on #255
@cosine Just to be clear, we don't release any binaries. You've got a node module made by someone else.

[2018-04-12 10:45] thegbom commented on #99
sudo apt-get -y install build-essential cmake libtool autoconf automake m4 nasm pkg-config
sudo ldconfig /usr/lib
cd ~
wget https://github.com/mozilla/mozjpeg/archive/v3.1.tar.gz
tar -xvzf v3.1.tar.gz
cd mozjpeg-3.1/
autoreconf -fiv
mkdir build
cd build
sh ../configure
sudo make install

I supplemented a missing tar-statement. Running npm install after the steps above, I did not get the error.

[2018-04-12 14:10] cbj4074 commented on #99
Thanks for articulating the solution, @okor (and for providing the missing `tar` step, @thegbom ).

In my particular case, installing `pkg-config` "fixed" the issue, but the more poignant question seems to be, what causes the initial failure that requires building from source at all? This line:

`⚠ The `/var/www/html/laravel/node_modules/mozjpeg/vendor/cjpeg` binary doesn't seem to work correctly`

[2018-04-12 15:34] kornelski commented on #99
I have no idea why the node module complains. You're asking in the wrong project. The Node.js binary is maintained by https://github.com/imagemin/mozjpeg-bin

[2018-04-13 02:31] cbj4074 commented on #99
Thanks for clarifying the origin of the problem, @kornelski . I loathe to be the guy who complains to the incorrect project.

It looks like this may be the place to discuss this further:

https://github.com/imagemin/imagemin/issues/168

[2018-04-17 21:15] gradha opened #281 "Unexpected file size regression for quality 90"
After finding about this project I started testing it but with the images I was trying I wasn't getting the advertised file size savings either with the released tarballs or git head. However, I did find an [osx 3.0 binary](https://github.com/kornelski/mozjpeg/releases) which did reduce jpeg files more than what I was getting with my builds. Wondering if the problem was my OSX machine I set up a d

[2018-04-17 22:02] kornelski commented on #281
This is intentional in the `cjpeg` demo tool. Add `-sample 2x2` to get the old behavior. This does not affect libjpeg library API, which didn't change.

The latest version of the `cjpeg` tool copies approach used in Photoshop and ImageMagick and uses quality to infer the default chroma subsampling setting.

The old version always used chroma subsampling (2x2 AKA 4:2:2) at all quality levels. That

[2018-04-18 18:27] gradha commented on #281
Thanks for the explanation.

[2018-04-18 18:27] #281 closed

[2018-05-02 09:47] magicgoose commented on #222
This issue is very important.
The default behavior of deleting color profile is also kind of dangerous. There's no warning, just a visually degraded result.

[2018-05-18 02:49] aladdinwang commented on #266
Hello, I also have this problem.
Did you find solution?

[2018-05-18 13:00] YHCodes opened #282 "error LNK2019: unresolved external symbol"
I want to integrate mozjpeg compressor to my project.  But I didn't directly use cjpeg-static.exe , I want to use the source code with my project instead.

But when I try to call `jinit_read_jpeg(&cinfo)` to read uncompress image, my vs complianed:
error LNK2019: unresolved external symbol "struct cjpeg_source_struct * __cdecl jinit_read_jpeg(struct jpeg_compress_struct *)" (?jinit_read_jpeg@@YAPA

[2018-05-18 15:36] kornelski commented on #266
Cross-compilation for iOS has additional requirements, documented here: https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/BUILDING.md#building-libjpeg-turbo-for-ios

[2018-05-20 10:26] YHCodes opened #283 "how to read jpeg data?"
Hi, In the source file **example.c**, line 61 to 63, as below:
[code]
I don't know how handle or use what function to transform image file to image_buffer, image_height and image_width.

can anybody give me some help, thanks very much for your help.

[2018-05-20 12:00] kornelski commented on #283
Here's a tutorial: https://github.com/mozilla/mozjpeg/blob/master/libjpeg.txt

[2018-05-21 02:48] YHCodes opened #284 "Error C2872: "boolean": Ambiguous Symbol jpeglib.h"
I try to integrate mozjpeg to my project, I add some include files , `jpeg-static.lib` and `jpeg8.dll` from mozjpeg compiled files.

I supplied an interface to implement image compression, but when I use VS compile my project, it says that have 56 errors: `Error C2872: boolean : Ambiguous Symbol  jpeglib.h`

if you can tells me how to handle it, I will thank you very much!

[2018-05-21 03:55] YHCodes commented on #283
thanks @kornelski  , it helps

[2018-05-21 11:07] kornelski commented on #284
Ignore it. This name has been used in `jpeglib.h` since 1991.

[2018-05-21 11:11] #283 closed

[2018-05-21 15:04] #282 closed

[2018-05-22 10:54] karanaggarwal1 opened #285 "Batch Processing Images"
Hi
Does MozJPEG process and compress multiple images at the same time? If so, then how can this be used as a feature? If not, what should I possibly to do in my code to make a pseudo implementation for this?

[2018-05-22 12:37] kornelski commented on #285
MozJPEG is a library that is intended for internal use in other programs, like ImageMagick or GIMP, so batch capabilities should depend on what the MozJPEG-using program is capable of.

In the project there's also an outdated primitive demo tool that everyone happens to use instead. For everything about that tool the answer is "no" :)

[2018-05-23 10:07] karanaggarwal1 commented on #285
Thanks for the response

[2018-05-23 10:37] #285 closed

[2018-05-31 13:00] #284 closed

[2018-06-03 12:46] roytam1 opened #286 "SSE/AVX for faster encoding?"
upstream has SSE/AVX improvements for faster encoding:
https://github.com/libjpeg-turbo/libjpeg-turbo/pull/25
https://github.com/libjpeg-turbo/libjpeg-turbo/pull/46

are they applicable to mozjpeg?

[2018-06-03 13:04] kornelski commented on #286
Yes, to a small degree. When the improvements are released as stable, we'll merge them in.

[2018-06-05 12:18] wstoettinger opened #288 "build instructions for raspberry"
Hey there!

is it possible to compile mozjpeg on a raspberry pi? i'm currently trying to build it on a RPi 3 Model B+

Since it can be compiled on an ARM architecture it should be possible! Would be nice to get a build recipe for it!

thanks!

[2018-06-05 13:06] kornelski commented on #288
It should work fine.

The build is exactly the same as for libjpeg-turbo, so search for instructions for libjpeg-turbo.

[2018-06-05 13:19] wstoettinger commented on #288
thanks a lot!
i managed to make it work already! apparently I was thinking too complicated. I searched for ARM in the build instructions and tried to adapt all the iPhone and Android recipes to match the raspberry instead of just running the build script without options.

maybe somebody could mention raspberry in the build instructions for future reference?

[2018-06-05 14:53] kornelski commented on #288
Great!

[2018-06-05 14:53] #288 closed

[2018-06-05 16:11] #286 closed

[2018-06-08 13:06] salehawal commented on #99
@dwbuiten it works
i ma using ubuntu
i installed the missing package : sudo apt-get install pkg-config
and then autoreconf -fi and now it is working thanks (:+1:

[2018-06-08 21:41] JosePineiro commented on #250
This bug are fix in the last versions.

[2018-06-08 21:41] #250 closed

[2018-06-12 16:36] photoup-godwinh commented on #222
looks like `jpegtran -copy skip-icc` is no longer available for the current version. The only way solution I've found is to leave it as `jpegtran -copy all` but I want to know if there is any other way to leave the ICC profile intact while stripping other metadata like comments and etc.

[2018-06-19 08:32] jopaha commented on #272
Hello @zevilz,
did you find a sultion on that make rpm issue?

[2018-06-23 11:29] hyperknot opened #293 "How to build 3.3.1"
Is 3.3.1 an official release? It doesn't have the release package like 3.2 has.

What do I need to run instead of

[code]

[2018-06-23 11:56] kornelski commented on #293
Sorry, I forgot to prepare the tarball.

Run:

[code]

and then continue as usual. If you don't have autoreconf, you may need to install a package such as autotools or autoconf.

[2018-06-23 11:59] hyperknot commented on #293
Thanks. Are you planning to add the tarball in the near future? In that case I'll wait for it (not that it'd look complicated but that way I wouldn't need to change my build config).

[2018-06-24 05:19] zevilz commented on #272
Hello @jopaha, no.

[2018-06-25 05:30] jopaha commented on #272
Hello @zevilz,
I`ve managed to build the RPM with the following SPECfile:

# Path under which mozjpeg should be installed
%define _prefix /usr/bin/mozjpeg

# Path under which executables should be installed
%define _bindir /usr/bin/mozjpeg/bin/

# Path under which Java classes and man pages should be installed
%define _datadir /usr/bin/mozjpeg/share

# Path under which docs should be installed
%de

[2018-06-25 05:34] jopaha commented on #272
Hello @zevilz,
I have managed to build the RPM with the following SPECfile:

[code]

Just put it under your build environment in "SPECS" Directory. Download the SOURCE from https://github.com/mozilla/mozjpeg/archive/v3.2.tar.gz into the SOURCE directory.

Run "QA_RPATHS=0x0002 rpmbuild -bs /$PATHTOBUILDENV/rpmbuild/SPECS/mozjpeg.spec" to create the rpm.

Kind regards,

jopaha

[2018-06-25 22:40] hyperknot opened #294 "getting optimal settings for a given quality"
I'm migrating away from a pipeline which used imagemagick resize -> TGA -> mozjpeg command line tool. I'm using vips now for it's huge performance bump, compared to imagemagick.

What I particularly enjoyed in mozjpeg's cjpeg tool was that it was auto-configuring the right settings based on quality input. I was using q=90 for reference images and q=75 for high-dpi web images.

Now, with vips I nee

[2018-06-25 22:42] kornelski commented on #294
* Optimize: yes
* interlace: yes
* no-subsample: no (subsample = yes)
* trellis: yes
* deringing: yes
* optimize scans: yes
* quant-table: 0 for low DPI, 3 for high-DPI.

[2018-06-25 22:47] hyperknot commented on #294
Thanks a lot! All clear!

And what should I use for the q=90 reference image? This will be kept for a later date to generate new resampled sizes if needed. Disk space doesn't really matter, but processing speed does.

[2018-06-25 22:55] kornelski commented on #294
Then use PNG, maybe? :)

For fast creation of bloated files, basically use inverse of all these settings. Don't optimize, don't subsample.

[2018-06-25 23:05] hyperknot commented on #294
Thanks!
(Using PNG would be kind of overkill, and also super slow, but I get the point).

[2018-06-25 23:09] #294 closed

[2018-06-27 18:10] karanaggarwal1 opened #295 "Unable to Use TurboJPEG Java wrapper"
Hi,
I am trying to use MozJPEG for image compression in my Java Project, but it seems that there is some problem with the source code. I have downloaded the <a href="https://github.com/mozilla/mozjpeg/releases/download/v3.2/mozjpeg-3.2-release-source.tar.gz">mozjpeg-3.2.release.source.tar.gz</a> and did the following things to set it up:
<ol type="i">
<li><code>brew install jpeg-turbo nasm autorec

[2018-06-28 00:20] kornelski commented on #295
I haven't used the Java interface.

Have you been able to get the standard libjpeg-turbo library working? (i.e from libjpeg-turbo project, not from mozjpeg project?)

I wonder if it's broken or poorly documented in general, or whether we've broken something in the fork.

[2018-06-28 06:06] karanaggarwal1 commented on #295
I haven't tried using that, but I have installed that library using homebrew so I suppose that should work perfectly fine. The associated library, <code>libturbojpeg.jnilib</code> has been installed on <code>/opt/libjpeg-turbo/lib32</code> and <code>/opt/libjpeg-turbo/lib64</code> as they say in their documentation. I don't know what else is required. Have a look at <a href=https://codeshare.io/2B

[2018-07-02 23:18] kkopachev opened #296 "jpegtran prefers input file if it has smaller size by default"
I have a progressive input.jpg with 10 scans. I would like to supply custom scans file and save image progressive, but with another scans configuration.
[code]

As a result, I expect progressive file with specified scans.

Actual result is just straight copy of input file.
I managed to figure out that if force this if to false state
https://github.com/mozilla/mozjpeg/blob/7678cba14037c9381119df6c6

[2018-07-02 23:42] kkopachev commented on #296
Looked deeper into this and realized that lines posted above are not the cause, but just a flag.
If not using `jpeg_mem_dest`, then `outsize` is never updated and remains 0. Then, right before outputting to destination file, jpegtran checks if output is bigger than input and swaps buffer pointer, causing input file to be written out.
https://github.com/mozilla/mozjpeg/blob/7678cba14037c9381119df6c

[2018-07-10 21:55] kkopachev commented on #296
I'd submit a PR, but straggle to chose what should be done in that case. Some opinions would be great to have here.
I could probably add a check that any image-changing arguments is passed on command line, but not sure if that would be acceptable fix.

[2018-07-10 21:57] kornelski commented on #296
First, if libjpeg-turbo has the same bug, then please submit the PR there.

It seems sensible that options which change image visually force saving even if the image is larger.

[2018-07-10 23:30] kkopachev commented on #296
libjpeg-turbo does not have this code, hence issue here. I'll come up with PR soon.

[2018-07-11 00:18] kornelski commented on #296
ok, thanks!

[2018-07-16 01:10] garyzyg commented on #91
Hi @kornelski,

I've created one project [mozjpeg-windows](https://github.com/garyzyg/mozjpeg-windows/releases) to build mozjpeg binaries (for Win32 & Win64), which are linked to msvcrt.dll without additional .dll. If you would like to do similar jobs officially, you may take a look at it.

Gary

[2018-07-20 04:57] HongxuChen opened #299 "AddressSanitizer: heap-buffer-overflow inside get_8bit_row (rdbmp.c)"
Our fuzzer detected several buffer overflow errors inside `get_8bit_row` (lines 145, 146, and 147) as of 7678cba. These can be triggered with `cjpeg -outfile /dev/null $POC` where $POC can be found [in this directory](https://github.com/ntu-sec/pocs/tree/master/mozjpeg-7678cba) (files ending with `.bmp`). Error messages are like:

[code]

[2018-07-20 12:06] kornelski commented on #299
Does this affect libjpeg-turbo as well?

[2018-07-20 13:10] HongxuChen commented on #299
@kornelski libjpeg-turbo seems affected (corresponding lines are 209 and 211, https://github.com/libjpeg-turbo/libjpeg-turbo/blob/master/rdbmp.c).

[2018-07-28 00:25] ianamk opened #300 "compiler error building with mozjpeg3.3.1 with cmake3.12.0/mingw64/gcc7.3.0"
I'm trying to build mozjpeg 3.3.1 with cmake and mingw64 I get the error
[code]
libjpeg-turbo 2.0 builds fine with the same cmake/gcc setup
I'm using the current mingw from
https://github.com/msys2/msys2/
gcc 7.3.0 on win7
any ideas on how to fix this and compile 3.3.1?

[2018-07-28 00:30] ianamk commented on #300
I trued building the current git I get the same error
[code]

[2018-07-28 00:37] kornelski commented on #300
We don't support cmake on mingw. You either use cmake with visual studio compiler, or use autotools (configure && make) with mingw.

[2018-07-28 00:54] ianamk commented on #300
OK tanks will try autoconf

[2018-07-28 00:58] ianamk commented on #300
autoconf has errors too
[code]
can someone confirm mozjpeg builds natively on windows with mingw and if so what's the proper way to do it?

[2018-07-28 01:00] kornelski commented on #300
You must install libtool

[2018-07-28 01:08] ianamk commented on #300
that did it
tank you very much

[2018-07-28 01:08] #300 closed

[2018-07-30 07:12] shailenderjain opened #301 "JAVA api"
Hello, I could not find any option to use Java API to pass my custom quantization table (-qtable), -notrellis options. Is there any option available....

[2018-07-30 10:34] kornelski commented on #301
Probably not. We haven't kept the Java API up to date with MozJPEG changes.

It shouldn't be too hard to add it — have a look how other settings are implemented, and create similar methods for the missing ones.

[2018-07-31 09:11] #221 closed

[2018-07-31 09:11] #296 closed

[2018-07-31 18:14] kkopachev commented on #174
This is fixed by #298.

[2018-07-31 23:01] #174 closed

[2018-08-01 06:30] shailenderjain commented on #301
1. I will implement the same by adding flags for -notrellis in TJ class

I have another query:
We want to create 3 versions of the same image at the quality level of 75, 84 and 90. Users will select the right version after visual inspection. However, it takes more then a minute for file size of approx. 3 MB. Is there any option to improve the performance. Any idea will be helpful (Other then hardw

[2018-08-01 11:10] kornelski commented on #301
It should take seconds, not minutes.

When you use `cjpeg` command, is it also that slow, or is it slow only via Java API?

[2018-08-01 11:53] shailenderjain commented on #301
When i use CJPEG it takes approx. 25 seconds for 1 iteration. I have to execute 3 iterations (75, 84 & 90). Hence, approx 1 minute to complete

[2018-08-01 13:29] kornelski commented on #301
You should expect a speed of about 5-10 megapixels per second, so unless your image was HUUUGE, there's something wrong with your compilation.

Did you disable SIMD? Did you compile in debug mode or disable optimizations?

[2018-08-01 13:35] shailenderjain commented on #301
These were the steps
1) sudo apt-get install autoconf automake libtool nasm make pkg-config git
2) git clone https://github.com/mozilla/mozjpeg.git
3) cd mozjpeg
4) autoreconf -fiv
5) ./configure --with-java
6) make

Is there something missing? Let me know if i need to reinstall

[2018-08-01 13:40] kornelski commented on #301
That looks ok. In that case I don't understand why it's slow.

[2018-08-01 13:41] kornelski commented on #301
If you need 3 versions, you can run them on 3 threads. The library is single-threaded, and most CPUs are multicore, so you should get a nice 3x speedup.

[2018-08-24 01:19] garyzyg opened #302 "rdpng.c contains mixed declaration, which MSVC can't accept."
Hi,

rdpng.c contains mixed declaration, which is not friendly to MSVC. I will send out a PR to fix that.

Gary

[2018-08-24 01:46] garyzyg commented on #302
Hi,

You may refer [PR #303](https://github.com/mozilla/mozjpeg/pull/303).

Gary

[2018-08-24 11:22] yesworld opened #304 "Some .jpg files are not compressed good enough"
Hi,

I use [mozjpeg-bin](https://www.npmjs.com/package/mozjpeg) to ensure that the Google speed test service gives a good rating for the quality of the photos. Most of the photos were compressed, but some of them are not good enough.

Example:
Origin 75,1Kb
![](https://upload.realnoevremya.ru/test-photo/nominees_origin.jpg)

mozjpeg 50,2Kb (options: {quality: 65} )
![](https://upload.realnoevremya

[2018-08-24 11:47] kornelski commented on #304
90% of the file is taken by hidden metadata added by Adobe Photoshop CC. You can use `jpegtran --strip-all` to get rid of it.

[2018-08-24 11:50] #302 closed

[2018-08-24 12:23] #304 closed, assigned to nobody

[2018-08-25 17:13] 2ji3150 commented on #286
Looks like it's been released as stable on libjpeg-turbo 2.0.0.

[2018-09-10 22:14] diegosanchezr opened #305 "Misdecoded image in buffered mode"
I've jumped into an issue where [an image](https://user-images.githubusercontent.com/6777207/45326711-995dbf80-b54c-11e8-970f-7c360218fb86.jpg) is being decoded incorrectly. In particular, the image appears grayscale.

This is my code (sorry for the Objective-C bits). I'm passing the full image data and scanNumber >=8 (the image has 8 scans).

[code]

Some notes:
- If I uncomment the jpeg_consume_

[2018-09-10 22:35] kornelski commented on #305
Can you reproduce the bug with libjpeg-turbo?

[2018-09-10 23:39] diegosanchezr commented on #305
Yes, it also happens with libjpeg-turbo 2.0.0. Just created the same issue there: https://github.com/libjpeg-turbo/libjpeg-turbo/issues/279

[2018-09-11 00:34] kornelski commented on #305
OK, we'll get that fix when it's fixed in libjpeg-turbo.

[2018-09-11 00:34] #305 closed

[2018-09-19 09:55] davidenco opened #306 "libjpeg-turbo 2.0"
libjpeg-turbo 2.0 has been released! Can it be integrated please?

https://github.com/libjpeg-turbo/libjpeg-turbo/releases

[2018-09-19 12:33] kornelski commented on #306
Sure.

I'm going on holidays, so I won't do it in the next few weeks.

Would you like to give it a try?

It will have scary looking merge conflicts in build and readme files due to renaming of libjpeg to mozjpeg, but these aren't hard to resolve.

[2018-09-21 13:12] pmioni commented on #279
Still have the bug on
      "version": "4.3.1",
had to remove the
[code]
 part of the configuration, even setting it to `false` didn't work.

[2018-09-25 01:48] xinyu391 commented on #306
@davidenco
I have merge turbo2.0 ,https://github.com/xinyu391/mozjpeg.
the jpeg6b api is works fine. before the official version, you could try this .

[2018-10-08 09:24] 781545872 opened #307 "cjpeg -quality"
I want to compress an image to specified quality，so I run 'cjpeg -quality 80 -outfile t1.jpeg t.jpeg'.
And I use identify(from ImageMagick) to caluculate quality of the output image and input image.
The quality of 't.jpeg' is 99.However,the quality of 't1.jpeg' is 50, not 80.
Why?

[2018-10-08 09:28] kornelski commented on #307
ImageMagick doesn't calculate quality correctly. It has a hack that only matches old libjpeg and nothing else.

[2018-10-08 09:45] 781545872 commented on #307
And how can I get the quality of a jpeg format image?

[2018-10-08 13:51] 781545872 commented on #307
Thank you for answering my question.I'll close the issue.

[2018-10-08 13:51] #307 closed

[2018-10-12 12:54] #272 closed

[2018-11-07 04:54] higimo opened #309 "how to resize in windows?"
Please write in usage.txt how to perform `resize 50% in.jpg out.jpg`

don`t work:
[code]

[2018-11-08 12:17] cuva opened #310 "Cocoapods support"
Hi,

First of all, thanks for the great library!

Would you be open in accepting a PR adding [cocoapods](https://cocoapods.org) support for Mozjpeg? Cocoapods is a dependency manager for iOS projects which would make the library's integration a no brainer and should only require adding a single file to the repo.

Thanks!

[2018-11-09 10:19] cuva commented on #310
Thanks for your quick answer @kornelski.

Couldn't agree more. Since C is interoperable with Objective-C, I'd suggest first and foremost defining a `mozjpeg` pod to enable it being integrated through Cocoapods as-is.

As you've mentioned, It would then open the door for a higher-level Objective-C/Swift compatible framework that exposes idiomatic platform APIs depending on mozjpeg's C library throu

[2018-11-09 15:39] kornelski commented on #310
Yes, great! I'm happy to add a podspec.

[2018-11-14 00:17] kornelski commented on #306
It's on master. Please test it.

[2018-11-14 00:17] #306 closed

[2018-11-15 15:01] darkkc opened #312 "Linux build fails on linking of cjpeg-static"
[code]
results in
[code]

I'm using current master branch.

Thanks

[2018-11-15 16:03] kornelski commented on #312
This is fixed on master

[2018-11-15 16:03] #312 closed

[2018-11-15 16:05] darkkc commented on #312
Hmm, so you want to tell me that i clone something else with
`git clone https://github.com/mozilla/mozjpeg.git`?

[2018-11-15 16:06] kornelski commented on #312
If you do git pull, and run `cmake` again, it should work

[2018-11-15 16:07] darkkc commented on #312
Ah, new commit, i see.

Huge thanks!

[2018-11-15 17:49] stof opened #313 "The link to the 3.0 announcement in the Readme does not work"
It says the blog is protected:

![mozjpeg_announcement](https://user-images.githubusercontent.com/439401/48571464-30594600-e907-11e8-901f-e9221a0bfcd5.png)

[2018-11-15 18:12] kornelski commented on #313
Thanks for the report.

[2018-11-15 18:12] #313 closed

[2018-11-19 14:58] higimo commented on #309
@kornelski plz remove this from `usage.txt`, because you written: "mozjpeg doesn't do resizing"

![image](https://user-images.githubusercontent.com/2804205/48714819-9950fe80-ec24-11e8-9e17-ea31bb56ac9c.png)

[2018-11-19 16:05] kornelski commented on #309
That's the DCT scaling I've mentioned. It's not proper image resizing. It's used to get lower-quality thumbnail/preview when converting JPEG to BMP.  Not what you're looking for.

[2018-11-19 18:04] higimo commented on #309
@kornelski thumbnail in my explorer (in Windows) no create with this options. How me show this? Or you indifferent?

[2018-11-19 18:06] higimo commented on #309
Window create self thumbnail. Mozjpeg throw error. May be you write example command in `usage.txt`?

[2018-11-19 23:39] kornelski commented on #309
There is no such command. Please use Photoshop.

[2018-11-21 14:09] kornelski commented on #309
You're right. Sorry. My behavior was uncalled for.

To clear things up:

* `djpeg.exe` cannot produce a JPEG file, because it's for conversion *from* JPEG to another format like BMP or TGA. `djpeg.exe > out.jpg` from your example can't work, because you'll end up with TGA or some garbage text in a file with incorrect filename extension.  You can do `djpeg.exe -outfile out.bmp -scale 1/2 in.jpg` an

[2018-11-22 13:15] 2ji3150 commented on #306
mozjpeg 3.4.0 tested with no problem. It's faster. Thanks for the great work!

[2018-11-22 15:39] higimo commented on #309
@kornelski thanks so much!

[2018-11-23 10:46] davidenco opened #314 "autoreconf: 'configure.ac' or 'configure.in' is required"
A few days ago I could run `autoreconf -fiv` after doing a fresh clone of the mozjpeg master branch without issue, but today it says either `configure.ac` or `configure.in` is required as there is no `configure` file.

[2018-11-23 10:48] davidenco commented on #306
Since master was updated, autoreconf no longer works because configure.ac or configure.in is missing!

[2018-11-23 12:31] davidenco commented on #314
My apologies. I have used cmake now and all is well.

[2018-11-23 12:31] #314 closed

[2018-11-23 12:32] davidenco commented on #306
My apologies. I have used cmake now and all is well.

[2018-11-30 01:34] garyzyg opened #315 "jddctmgr.c contains mixed declaration, which MSVC can't accept."
Hi,

This issue is similar to #302 and caused by add6158e. jddctmgr.c contains mixed declaration, which is not friendly to MSVC. A PR will be sent out to fix that.

Gary

[2018-11-30 08:08] n3pixowe opened #317 "Unrecognized input file format for .jpg file?"
[code]

I did put .jpg file for input file, and output for .jpg. Why this is happening?

[2018-11-30 10:15] kornelski commented on #317
It's possible that the person who made the node module (it's not part of this project) did not enable support for reading JPEG files. The old `cjpeg` demo program by default knows only a few obsolete image format like Targa.

[2018-11-30 10:19] #315 closed

[2018-12-08 21:20] 2ji3150 opened #318 "Unable to read PNG and BMP(imagemagick)"
build with the latest mozjpeg 3.4 using on latest windows 10

when Using with cjpeg to convert PNG, it shows:
`Unrecognized input file format --- perhaps you need -targa`
after add `-targa` still not work

when Using cjpeg to convert BMP generated from famous ImageMagick generated (for example: resize by ImageMagick)
`Invalid BMP file: bad header length`

Here is an exapmle BMP file which cant not

[2018-12-08 21:49] kornelski commented on #318
Indeed, only an older version of BMP is supported. Try exporting TGA from ImageMagick.

[2019-01-07 03:32] polarathene commented on #144
Is the CMake config for this [CMakeLists.txt](https://github.com/mozilla/mozjpeg/blob/master/CMakeLists.txt)?(I'm not all that familiar with CMake)

I see the `PNG_SUPPORTED` variable only in conditionals for win32 and static builds? So CMake is unable to support this for Linux if libpng is available on the system? With mozjpeg moving to CMake only for next release, will this get resolved? (I'm at

[2019-01-07 03:45] polarathene opened #321 "Release 4.0.0"
Last release was in Mar 2018 240 commits ago? I see that in Nov 2018 [libjpeg-turbo 2.0 got merged](https://github.com/mozilla/mozjpeg/issues/306), there is a commit about tagging 2.0.0, but there is no actual tag in the repo matching that?

As this is the release that drops autotools moving those installs to use CMake instead(according to the [2.0.0 changelog](https://github.com/mozilla/mozjpeg/b

[2019-01-07 14:01] kornelski commented on #321
Due to change to cmake it's a major breaking release. I've been busy updating my tools to the latest version.

If you'd like to help, please use code from master and verify that it's working for you.

[2019-01-07 15:04] kornelski commented on #144
It's possible that the new CMake from libjpeg-turbo 2.0 broke PNG support. Can you test it and report what exactly needs to be fixed?

[2019-01-07 15:21] polarathene commented on #321
@kornelski I have already built from master to use with alpine 3.8 and debian-stretch docker images. Appears to be working fine apart from not knowing how to enable PNG support with CMake.

I should have the docker images in a repo tomorrow and get them on DockerHub if you'd like to try them. I have made a PR to another users Dockerfile(alpine based), it's more simple than my personal one but buil

[2019-01-07 15:47] polarathene commented on #144
@kornelski Isn't the PNG support optional at compile? I don't know much about compiling projects like this, I'm not all that familiar with the tools. `CMakeLists.txt` only mentions the PNG support within conditionals for win32 and static builds?

I am building on an alpine linux image like this:

[code]

and in a debian docker image:

[code]

[2019-01-07 18:44] fhanau commented on #321
I recently updated the version of mozjpeg I use to master and did not encounter any issues with jpegtran-like behaviour. I didn't have any issues with the new build system.

[2019-01-07 18:54] zvezdochiot commented on #321
Backport for other provided?

[2019-01-22 14:15] MurKit commented on #314
How to use cmake in this case?

[2019-01-22 15:57] kornelski commented on #314
https://github.com/mozilla/mozjpeg/blob/master/BUILDING.md

### Un*x

The following procedure will build libjpeg-turbo on Unix and Unix-like systems.
(On Solaris, this generates a 32-bit build.  See "Build Recipes" below for
64-bit build instructions.)

    cd {build_directory}
    cmake -G"Unix Makefiles" [additional CMake flags] {source_directory}
    make

This will generate the following files

[2019-02-08 09:09] HongxuChen opened #324 "Slow to decode a corrupted jpeg file"
It is similar to [the one in libjpeg-turbo](https://github.com/libjpeg-turbo/libjpeg-turbo/issues/328), but the performance seems worse.

[code]

![h01.jpeg](https://user-images.githubusercontent.com/843267/52468581-240e1d80-2bc4-11e9-8d73-c91363dccbb3.jpeg)

[2019-02-08 15:17] kornelski commented on #324
We don't have custom decoding code, so we'll have it fixed when libjpeg-turbo fixes it.

[2019-02-08 15:17] #324 closed

[2019-02-09 00:19] necros2k7 opened #325 "Del"
subj

[2019-02-19 10:55] muelleme opened #327 "Possible regression in jpegtran 3.4.0 for custom scan script"
Hi,

I came across some very weird behaviour using jpegtran in ```mozjpeg version 3.4.0 (build 20190114)``` (built from source).

If I use ```-scans``` to transform a baseline JPEG into a progressive one, and my scan script contains a scan performing spectral selection including exactly the first 16 DC coefficients (for any channel), then jpegtran fails with ```Missing Huffman code table entry```

[2019-02-22 17:03] kkopachev commented on #327
Same with libjpeg-turbo (I tried version 2.0.2)

[2019-02-24 18:19] kornelski commented on #327
Could you file a bug in libjpeg-turbo?

[2019-02-25 10:07] muelleme commented on #327
Opened an issue for libjpeg-turbo: https://github.com/libjpeg-turbo/libjpeg-turbo/issues/335

[2019-03-08 16:09] akobel opened #328 "Severe artifact for quality <= 55"
Hi,

encoding the following image with `-quality 54` or less yields a severe artifact at the "ü" character; with `-quality 55` or higher, everything is as expected.

The issue occurs with the current git HEAD, 3.2 (the mozjpeg-opt from Arch Linux' user repository), and 3.3.1 (built with an adapted build script). The build instructions for the Arch packages are pretty straightforward: unpack the re

[2019-03-09 22:37] dvershinin commented on #218
Users of CentOS / RedHat 7 may want to install jpegoptim compiled with MozJPEG using [these instructions](https://www.getpagespeed.com/images/install-jpegoptim-powered-by-mozjpeg-in-centos-redhat-7) (no compilation required, ready to install package).

[2019-03-15 08:57] afontenot opened #329 "Broken binary compatibility with libjpeg-turbo 2.0"
Hi, I maintain the [AUR package](https://aur.archlinux.org/packages/mozjpeg/) for mozjpeg. I'm currently seeing some binaries built against libjpeg-turbo (which the official packages use) break against mozjpeg. For example the command heif-convert from [libheif](https://github.com/strukturag/libheif) dies immediately with

    heif-convert: relocation error: heif-convert: symbol jpeg_write_icc_pro

[2019-03-15 12:46] kornelski commented on #329
The latest version on master should be based on libjpeg-turbo 2.0. Does that work for you?

[2019-03-16 06:54] afontenot commented on #329
It is working, after I figured out the necessary cmake parameters:

    cmake -DWITH_JPEG8=1 -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_INSTALL_LIBDIR=/usr/lib .

Anything I can do before the next version is released?

[2019-03-16 17:37] kornelski commented on #329
I think the default ABI is V6 on purpose, so if the config switch works for you then there's nothing else to do.

[2019-03-17 10:54] afontenot commented on #329
Yep, the problem isn't with the config switch though, because the same switch on the current release (3.3.1) gives me the crash I posted above.

    ./configure --prefix=/usr --with-jpeg8 --mandir=/usr/share/man

Only after I grab the latest master (with the associated switch to cmake) does it work.

[2019-03-17 13:36] kornelski commented on #329
The 3.3.1 release is for libjpeg-turbo 1.x, so it's not surprising it's not compatible with 2.0.

[2019-03-18 08:25] polarathene commented on #321
[Confirmed](https://github.com/mozilla/mozjpeg/commit/426de82d0c081c996c23b75fed05833b6627b590).

[2019-03-22 02:39] afontenot commented on #329
In that case, I will recommend switching to mozjpeg-git for people who have problems until the next version is released.

[2019-03-24 11:49] afontenot commented on #329
At this point this issue is essentially a duplicate of https://github.com/mozilla/mozjpeg/issues/321 so I'll close this issue.

[2019-03-24 11:49] #329 closed

[2019-03-28 04:22] Mozilla-GitHub-Standards opened #330 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 23:12] #330 closed

[2019-04-16 01:14] damian101 commented on #52
There is a nice GUI for Windows called mozjpeGUI: [http://s.masayaohara.com](http://s.masayaohara.com)

[2019-04-16 01:30] kornelski commented on #52
Also https://squoosh.app or https://imageoptim.com/mozjpeg

[2019-04-24 04:04] ingria opened #332 "cjpeg 4.0.0: Unrecognized input file format for .jpeg"
mozjpeg version 4.0.0 (build 20190424). Built on Ubuntu 18.04 x64 from master branch:

[code]

3.3.2 from commit 103c6c32 works fine with the same file and same setup.

[2019-04-24 12:57] kornelski commented on #332
Are you sure you're running mozjpeg's cjpeg? Because this is a message from the vanilla libjpeg that you may have on your system.

[2019-04-24 14:00] ingria commented on #332
Totally sure. I've been using the same local repo for both versions.

Cloned master - Built - Saw that 4.0.0 doesnt's work - Checked out 103c6c3 - Built - 3.3.2 OK.

[2019-04-24 21:53] kornelski commented on #332
I've updated this message on master, and it now says whether PNG was enabled or not. Your issue says JPEG, but if it actually was PNG, that would explain the difference, since the new build system doesn't auto-detect PNG support.

[2019-04-25 17:16] martincmartin opened #333 "Write past end of array in jpeg_simple_progression()"
When allocating memory for the scans, we limit the allocation to 10 scans:

https://github.com/mozilla/mozjpeg/blob/master/jcparam.c#L905

However, nscans can be 11 (see earlier in the same function), and it looks like all of them are written.

The MAX with 10 comes from libjpeg-turbo, which has simpler logic to set nscans and doesn't have the 11 case.

In general, the max seems odd: if nscans is

[2019-04-26 10:43] lambdapioneer commented on #333
Hey @martincmartin 👋

It's `MAX`, right? So it would be allocating space for 11 elements if `nscans==11`. I remember fixing some parts in these lines, and this is correct afaict.

[2019-04-26 11:09] martincmartin commented on #333
@lambdapioneer D'oh!  Although it clearly says MAX, I somehow read it as min.  My bad, sorry.

Maybe change the 10 to 11?  Not a correctness issue, but the intention seems to be to avoid reallocations, so setting it to the largest of the commonly used values seems appropriate.  Pretty minor point though.

Sorry to waste your time.

[2019-04-26 11:09] #333 closed

[2019-05-08 10:32] daramkun opened #334 "Available for Windows 10 UWP?"
I have no idea how can I build mozjpeg dynamic or static library for UWP.

How can I build for UWP?

[2019-05-10 07:18] daramkun commented on #334
Found method for use in Windows 10 UWP. Same way for x86 and x64 but ARM and ARM64 is not available because libjpeg-turbo is not support ARM&ARM64 for Windows.

https://github.com/libjpeg-turbo/libjpeg-turbo/issues/69

[2019-05-10 07:18] #334 closed